.scroll-top {
    position: fixed;
    width: 100%;
    height: calc(100% - 87px);
    z-index: 1;
}

.scroll-top-btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    /*padding-bottom: calc(100vh - 330px);*/
    /*margin: 20px 0 0;*/
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s, opacity .4s, background-color .3s;
    position: relative;
}

.scroll-top-btn:hover {
    cursor: pointer;
    background: rgb(245, 245, 245); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(245, 245, 245, 1)), color-stop(15%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(45deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(45deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%); /* IE10 preview */
    background: linear-gradient(45deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.scroll-top-btn-visible {
    visibility: visible;
    opacity: 1;
}

.scroll-top-btn-value {
    display: flex;
    /*padding-top: 50px;*/
    /*padding-top: calc(100vh - 330px);*/
    /*margin-left: 25px;*/
    user-select: none;
    opacity: .7;
    position: absolute;
    bottom: 40px;
    left: 25px;
}

.scroll-top-btn-text {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #595757;
}

.scroll-top-btn-img {
    margin: 0 0 0 5px;
}
