{% extends 'main/wrapper.html' %}
{% load static %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_polls="active" only %}
{% endblock %}

{% block content-user %}

    <div class="editor unselectable" data-step="1" {% if is_master %}data-master="true"{% endif %}>
        {% csrf_token %}
        <div class="editor__head rounded-block ">
            <div class="head__main">
                {% include 'main/poll/editor/editor_head_main.html' %}
                {#                {% include 'main/poll/select_target/select_target_head_main.html' %}#}
                {#                {% include 'main/poll/select_interviewed/select_interviewed_head_main.html' %}#}
            </div>
            <div class="head__move">
                {% include 'main/poll/editor/editor_head_move.html' %}
                {#                {% include 'main/poll/select_target/select_target_head_move.html' %}#}
                {#                {% include 'main/poll/select_interviewed/select_interviewed_head_move.html' %}#}
            </div>
        </div>
        <div class="editor__category categories-block">
            {% include 'main/poll/editor/editor_content.html' %}
            {#            {% include 'main/poll/select_target/select_target_content.html' %}#}
            {#            {% include 'main/poll/select_interviewed/select_interviewed_content.html' %}#}
        </div>
    </div>

{% endblock %}

{% block sidebar-nav-right %}
    {% include 'main/includes/menu_poll_editor_right.html' with menu_editor="item--active" %}
    {% include 'main/includes/scroll_top.html' %}
{% endblock %}

{% block css %}
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/libraries/scroll_top.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/new_poll_editor.min.css' %}">
{% endblock %}

{% block scripts %}
    {#    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>#}
    <script type="text/javascript" src={% static 'main/js/libraries/material-io.js' %}></script>
    <script type="text/javascript" src={% static 'main/js/libraries/jquery-ui.min.js' %}></script>
    <script type="text/javascript" src={% static 'main/js/new_poll_editor.js' %}></script>
    <script src="{% static 'main/js/libraries/scroll_top.min.js' %}"></script>
    <script src="{% static 'main/js/libraries/hint.min.js' %}"></script>
    <script type="text/javascript" src={% static 'main/js/libraries/topMenu.min.js' %}></script>
{% endblock %}