{% extends 'main/wrapper.html' %}
{% load static %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_polls="active" only %}
{% endblock %}

{% block content-user %}

    <div class="row justify-content-center">
        <div class="col-md-12 rounded-block ">
            {% csrf_token %}
            <div class="new_poll-container">
                <div class="new_poll-title">
                    <h1 class="new_poll-title">Создание опроса</h1>
                </div>
                <div class="new_poll-create">
                    <button class="new_poll-create-btn">Составить новый опрос</button>
                </div>
                <div class="new_poll-saved">
                    список сохраненных
                </div>
            </div>


            {#            <div class="new-poll-title-block text-center">#}
            {#                <h1 class="new-poll-title">Создание опроса</h1>#}
            {#                <span class="new-poll-subtitle">Выберите коллектив, в котором вы хотите провести опрос</span>#}
            {#            </div>#}
            {#            {% csrf_token %}#}
            {#            <div class="row justify-content-center">#}
            {#                <div class="col-md-8 new-poll-selection">#}
            {#                    <div class="new-poll-selection-search-block">#}
            {#                        <input id="search" type="text" class="new-poll-selection-search"#}
            {#                               placeholder="Начните вводить название..."><label#}
            {#                            for="search" class="new-poll-selection-search-label"></label>#}
            {#                    </div>#}
            {#                    <div class="new-poll-selection-list unselectable" id="">#}
            {#                        <div class="new-poll-selection-list-item">#}
            {#                            <label class="new-poll-selection-list-item-name new-poll-selection-list-item-company"#}
            {#                                   for="1">#}
            {#                                <input type="checkbox" class="new-poll-selection-list-item-checkbox"#}
            {#                                       name="list" id="1"#}
            {#                                       value="ООО Крутая Компания">ООО Крутая Компания#}
            {#                            </label>#}
            {#                        </div>#}
            {#                        <div class="new-poll-selection-list-item">#}
            {#                            <label class="new-poll-selection-list-item-name" for="2">#}
            {#                                <input type="checkbox"#}
            {#                                       class="new-poll-selection-list-item-checkbox"#}
            {#                                       name="list" id="2"#}
            {#                                       value="Крутая команда">Крутая команда#}
            {#                            </label>#}
            {#                        </div>#}
            {#                        <div class="new-poll-selection-list-item">#}
            {#                            <label class="new-poll-selection-list-item-name" for="3">#}
            {#                                <input type="checkbox"#}
            {#                                       class="new-poll-selection-list-item-checkbox"#}
            {#                                       name="list" id="3"#}
            {#                                       value="Очень крутая команда">Очень крутая команда#}
            {#                            </label>#}
            {#                        </div>#}
            {#                        <div class="new-poll-selection-list-item">#}
            {#                            <label class="new-poll-selection-list-item-name" for="4">#}
            {#                                <input type="checkbox"#}
            {#                                       class="new-poll-selection-list-item-checkbox"#}
            {#                                       name="list" id="4"#}
            {#                                       value="Лучшая команда">Лучшая команда#}
            {#                            </label>#}
            {#                        </div>#}
            {##}
            {#                        <div class="new-poll-selection-list-item">#}
            {#                            <label class="new-poll-selection-list-item-name" for="5">#}
            {#                                <input type="checkbox"#}
            {#                                       class="new-poll-selection-list-item-checkbox"#}
            {#                                       name="list" id="5"#}
            {#                                       value="Крутая команда">Крутая команда#}
            {#                            </label>#}
            {#                        </div>#}
            {#                        <div class="new-poll-selection-list-item">#}
            {#                            <label class="new-poll-selection-list-item-name" for="6">#}
            {#                                <input type="checkbox"#}
            {#                                       class="new-poll-selection-list-item-checkbox"#}
            {#                                       name="list" id="6"#}
            {#                                       value="Очень крутая команда">Очень крутая команда#}
            {#                            </label>#}
            {#                        </div>#}
            {#                        <div class="new-poll-selection-list-item">#}
            {#                            <label class="new-poll-selection-list-item-name" for="7">#}
            {#                                <input type="checkbox"#}
            {#                                       class="new-poll-selection-list-item-checkbox"#}
            {#                                       name="list" id="7"#}
            {#                                       value="Лучшая команда">Лучшая команда#}
            {#                            </label>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <button class="new-poll-to-step-2">Далее</button>#}
        </div>
    </div>
{% endblock %}

{% block sidebar-nav-right %}
    {% include 'main/includes/menu_polls_view_right.html' with menu_new_poll_view="active" %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/new_poll_view.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={% static 'main/js/new_poll_view.js' %}></script>
{% endblock %}