{% extends 'main/wrapper.html' %}
{% load static %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_polls="active" only %}
{% endblock %}

{% block content-user %}

    <div class="editor">
        <div class="editor__head rounded-block">
            <div class="head__main">
                <h2 class="head__title">Создание опроса (Шаг 1)</h2>
                <span class="head__text">Отредактируйте содержание и оформление опроса.</span>
                <a class="head__href-save" id="saveAs">
                    {% if poll.is_template %}
                        Обновить шаблон
                    {% else %}
                        Сохранить как шаблон
                    {% endif %}
                </a>
            </div>
            <div class="head__move">
                <button class="button-white head__btn" id="cancel" data-href="#">Отмена</button>
                <button class="button-white head__btn" id="nextToStep2" data-href="#">Далее</button>
            </div>
        </div>
        <div class="editor__category categories-block">
            <div class="substrate">
                <div class="sort rounded-block unselectable">
                    <div class="category active-sort" data-category=".poll-editor__content">
                        <div class="category__title">Редактор
                            {#                                <div class="category__notice hide"></div>#}
                        </div>
                    </div>
                    <div class="category disabled" data-category=".poll-view__content">
                        <div class="category__title">Просмотр
                            <img src="{% static 'main/images/icon/handyman-24px.svg' %}"
                                 alt="" class="build" style="position: absolute; right: -30px">
                            {#                            <div class="category__notice hide"></div>#}
                        </div>
                    </div>
                    <div class="color">
                        <div class="color__variable {% if poll.color == '' %}color__variable--select{% endif %}"
                             data-color=""></div>
                        <div class="color__variable purple {% if poll.color == 'purple' %}color__variable--select{% endif %}"
                             data-color="purple"></div>
                        <div class="color__variable blue {% if poll.color == 'blue' %}color__variable--select{% endif %}"
                             data-color="blue"></div>
                        <div class="color__variable red {% if poll.color == 'red' %}color__variable--select{% endif %}"
                             data-color="red"></div>
                    </div>
                </div>
            </div>
            <div class="categories">
                <div class="category-content poll-editor__content">
                    {% include 'main/poll/editor/editor.html' %}
                </div>
                <div class="category-content poll-view__content">
                    {#                    {% include 'main/poll/editor/editor.html' %}#}
                    <div class="category-item">ТУТ ДОЛЖЕН БЫТЬ ПРОСМОТР ОПРОСА</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block sidebar-nav-right %}
    {#    {% include 'main/includes/menu_poll_editor_right.html' with menu_new_poll_view="active" %}#}
    {% include 'main/includes/scroll_top.html' %}
{% endblock %}

{% block css %}
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/libraries/scroll_top.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/new_poll_editor.min.css' %}">
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript" src={% static 'main/js/libraries/jquery-ui.min.js' %}></script>
    <script type="text/javascript" src={% static 'main/js/new_poll_editor.js' %}></script>
    <script src="{% static 'main/js/libraries/scroll_top.min.js' %}"></script>
    <script type="text/javascript" src={% static 'main/js/libraries/topMenu.min.js' %}></script>
{% endblock %}