{% extends 'main/wrapper.html' %}
{% load static %}

{% block sidebar-nav %}
    {#    {% include 'main/includes/menu.html' with menu_polls="active" only %}#}
{% endblock %}

{% block content-user %}

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="poll_editor">
                <div class="poll-head rounded-block">
                    <div class="poll-head-text">
                        <textarea class="poll-head-name" name="" id="" rows="1"
                                  placeholder="Название опроса"></textarea>
                        <textarea class="poll-head-about" name="" id="" rows="1" placeholder="Описание"></textarea>
                    </div>
                    <a href="#" class="poll-head-save">Сохранить</a>
                    <div class="poll-head-navigation">
                        <a href="{% url 'main:new_poll_view' %}" class="poll-head-navigation-cancel">Отменить
                            создание</a>
                        <button class="poll-head-navigation-next-page btn btn-primary">Далее</button>
                    </div>
                </div>
                <!-- /.poll-head -->
                <div class="poll_questions">
                    <div class="question question-radio rounded-block">
                        <div class="question-main">
                            <textarea name="" id="" rows="1" class="question-main-name"
                                      placeholder="Вопрос"></textarea>
                            <div class="question-main-answers">
                                <div class="question-main-answers-answer">
                                    <span class="question-radio-main-answer-number">1)</span>
                                    <textarea name="" id="" rows="1" class="question-radio-main-answer"
                                              placeholder="Вариант 1"></textarea>
                                    <button class="question-radio-main-answer-remove">
                                        <img class="question-radio-main-answer-remove-img"
                                             src="{% static 'main/images/cross.svg' %}" alt="">
                                    </button>
                                </div>
                                <!-- /.question-main-answers-answer -->
                            </div>
                            <!-- /.question-main-answers -->
                            <a href="#" class="question-main-add">Добавить еще вариант</a>
                        </div>
                        <!-- /.question-main -->
                        <div class="question-settings">
                            <select name="" id="" class="question-settings-type_question">
                                <option value="" class="question-settings-type_question-option">Один из списка</option>
                                <option value="" class="question-settings-type_question-option">Несколько из списка
                                </option>
                                <option value="" class="question-settings-type_question-option">Шкала</option>
                                <option value="" class="question-settings-type_question-option">Открытый ответ</option>
                            </select>
                        </div>
                        <!-- /.question-settings -->
                        <div class="question-navigate text-center">
                            <a href="#" class="question-navigate-remove_question">
                                Удалить вопрос
                            </a>
                        </div>
                        <!-- /.question-navigate -->
                    </div>
                    <!-- /.question -->
                    <div class="question question-radio rounded-block">
                        <div class="question-main">
                            <textarea name="" id="" rows="1" class="question-main-name"
                                      placeholder="Вопрос"></textarea>
                            <div class="question-main-answers">
                                <div class="question-main-answers-answer">
                                    <span class="question-radio-main-answer-number">1)</span>
                                    <textarea name="" id="" rows="1" class="question-radio-main-answer"
                                              placeholder="Вариант 1"></textarea>
                                    <button class="question-radio-main-answer-remove">
                                        <img class="question-radio-main-answer-remove-img"
                                             src="{% static 'main/images/cross.svg' %}" alt="">
                                    </button>
                                </div>
                                <!-- /.question-main-answers-answer -->
                            </div>
                            <!-- /.question-main-answers -->
                            <a href="#" class="question-main-add">Добавить еще вариант</a>
                        </div>
                        <!-- /.question-main -->
                        <div class="question-settings">
                            <select name="" id="" class="question-settings-type_question">
                                <option value="" class="question-settings-type_question-option">Один из списка</option>
                                <option value="" class="question-settings-type_question-option">Несколько из списка
                                </option>
                                <option value="" class="question-settings-type_question-option">Шкала</option>
                                <option value="" class="question-settings-type_question-option">Открытый ответ</option>
                            </select>
                        </div>
                        <!-- /.question-settings -->
                        <div class="question-navigate text-center">
                            <a href="#" class="question-navigate-remove_question">
                                Удалить вопрос
                            </a>
                        </div>
                        <!-- /.question-navigate -->
                    </div>
                    <!-- /.question -->
                </div>
                <!-- /.poll_questions -->

                {#                <div class="column">#}
                {##}
                {#                    <div class="portlet">#}
                {#                        <div class="portlet-header">Feeds</div>#}
                {#                        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>#}
                {#                    </div>#}
                {##}
                {#                    <div class="portlet">#}
                {#                        <div class="portlet-header">News</div>#}
                {#                        <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>#}
                {#                    </div>#}
                {##}
                {#                </div>#}

            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar-nav-right %}
    {#    {% include 'main/includes/menu_polls_view_right.html' with menu_new_poll_view="active" %}#}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/poll_editor.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={% static 'main/js/jquery-ui.min.js' %}></script>
    <script type="text/javascript" src={% static 'main/js/poll_editor.js' %}></script>
{% endblock %}