{% extends 'main/wrapper.html' %}
{% load static %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_polls="active" only %}
{% endblock %}

{% block content-user %}

    {% if data %}
        <div class="content">
            <div class="templates few rounded-block">
                <div class="header">
                    <h1 class="title">Создать опрос</h1>
                    {% if data.quatity.templates.general > 3 or data.quatity.templates.my > 0 %}
                        <a class="btn-link more">Больше шаблонов</a>
                    {% endif %}
                </div>
                <div class="templates-block">
                    <div class="templates-general">
                        <div class="template-item template-new unselectable">
                            <div class="template__main button-href" data-href="#">
                                <div class="plus">
                                    <div class="horizontal">
                                        <div class="vertical"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="template__name">
                                <span class="name">Новый опрос</span>
                            </span>
                        </div>
                        {% for template in data.templates.general %}
                            <div class="template-item unselectable">
                                <div class="template__main button-href" data-href="{{ template.url }}">
                                    {% include 'main/includes/template_item.html' %}
                                </div>
                                <span class="template__name">
                                    <span class="name">{{ template.name }}</span>
                                </span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="my-templates-block {% if not data.templates.my %}hide{% endif %}">
                        <h2 class="title">Мои шаблоны</h2>
                        <div class="my-templates">
                            {% for template in data.templates.my %}
                                <div class="template-item {{ template.color }} unselectable">
                                    <div class="template__main button-href" data-href="{{ template.url }}">
                                        {% include 'main/includes/template_item.html' with delete=' ' %}
                                    </div>
                                    <span class="template__name">
                                        <span class="name">{{ template.name }}</span>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="polls categories-block">
                <div class="substrate">
                    <div class="sort rounded-block unselectable">
                        <div class="category category-sort--active" data-category="myPolls">
                            <div class="category__title">Мои опросы
{#                                <div class="category__notice hide"></div>#}
                            </div>
                        </div>
                        <div class="category" data-category="polls">
                            <div class="category__title">Для прохождения
                                <div class="category__notice{% if data.new.polls == 0 %} hide{% endif %}" id="polls-notif">{{ data.new.polls }}</div>
                            </div>
                        </div>
                        <div class="sortable">
                            <div class="mdc-select mdc-select--outlined width-245">
                                <div class="mdc-select__anchor height-40" aria-labelledby="outlined-select-label">
                                    <span id="" class="mdc-select__selected-text"></span>
                                    <span class="mdc-select__dropdown-icon">
                                        <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5">
                                            <polygon
                                                    class="mdc-select__dropdown-icon-inactive"
                                                    stroke="none"
                                                    fill-rule="evenodd"
                                                    points="7 10 12 15 17 10">
                                            </polygon>
                                            <polygon
                                                    class="mdc-select__dropdown-icon-active"
                                                    stroke="none"
                                                    fill-rule="evenodd"
                                                    points="7 15 12 10 17 15">
                                            </polygon>
                                        </svg>
                                    </span>
                                    <span class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <span class="mdc-notched-outline__notch">
{#                                        <span id="outlined-select-label" class="mdc-floating-label">Сортировка</span>#}
                                    </span>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </span>
                                </div>
                                <div class="mdc-select__menu mdc-menu mdc-menu-surface width-245">
                                    <ul class="mdc-list">
                                        <li class="mdc-list-item mdc-list-item--selected" data-value="date">
                                            <span class="mdc-list-item__ripple"></span>
                                            <span class="mdc-list-item__text">По дате</span>
                                        </li>
                                        <li class="mdc-list-item" data-value="name">
                                            <span class="mdc-list-item__ripple"></span>
                                            <span class="mdc-list-item__text">По названию</span>
                                        </li>
                                        <li class="mdc-list-item" data-value="quantity">
                                            <span class="mdc-list-item__ripple"></span>
                                            <span class="mdc-list-item__text">По количеству ответов</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="categories">
                    <div class="category-content">
                        {% if data.my_polls %}
                            {% include 'main/includes/item_polls.html' %}
                        {% else %}
                            {% include 'main/includes/bad_search.html' with text="Пока опросов нет" only %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="content">
            <div class="templates few rounded-block">
                <div class="header">
                    <h1 class="title">Создать опрос</h1>
                    <a class="btn-link more">Больше шаблонов</a>
                </div>
                <div class="templates-block">
                    <div class="templates-general">
                        <div class="template-item template-new unselectable">
                            <div class="template__main button-href" data-href="#">
                                <div class="plus">
                                    <div class="horizontal">
                                        <div class="vertical"></div>
                                    </div>
                                </div>
                            </div>
                            <span class="template__name">
                            <span class="name">Новый опрос</span>
                        </span>
                        </div>
                        <div class="template-item unselectable">
                            <div class="template__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="template__name">
                            <span class="name">Опрос об успеваемости</span>
                        </span>
                        </div>
                        <div class="template-item unselectable">
                            <div class="template__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="template__name">
                            <span class="name">Ежемесячный</span>
                        </span>
                        </div>
                        <div class="template-item unselectable">
                            <div class="template__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="template__name">
                            <span class="name">Еженедельный</span>
                        </span>
                        </div>
                        <div class="template-item unselectable">
                            <div class="template__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="template__name">
                            <span class="name">Годовой</span>
                        </span>
                        </div>
                        <div class="template-item unselectable">
                            <div class="template__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="template__name">
                            <span class="name">О себе</span>
                        </span>
                        </div>
                    </div>
                    <div class="my-templates-block">
                        <h2 class="title">Мои шаблоны</h2>
                        <div class="my-templates">
                            <div class="template-item purple unselectable">
                                <div class="template__main">
                                    {% include 'main/includes/template_item.html' with delete=' ' %}
                                </div>
                                <span class="template__name">
                                <span class="name">Новый опрос</span>
                            </span>
                            </div>
                            <div class="template-item blue unselectable">
                                <div class="template__main">
                                    {% include 'main/includes/template_item.html' with delete=' ' %}
                                </div>
                                <span class="template__name">
                                <span class="name">Новый опрос</span>
                            </span>
                            </div>
                            <div class="template-item red unselectable">
                                <div class="template__main">
                                    {% include 'main/includes/template_item.html' with delete=' ' %}
                                </div>
                                <span class="template__name">
                                <span class="name">Новый опрос</span>
                            </span>
                            </div>
                            <div class="template-item purple unselectable">
                                <div class="template__main">
                                    {% include 'main/includes/template_item.html' with delete=' ' %}
                                </div>
                                <span class="template__name">
                                <span class="name">Новый опрос</span>
                            </span>
                            </div>
                            <div class="template-item blue unselectable">
                                <div class="template__main">
                                    {% include 'main/includes/template_item.html' with delete=' ' %}
                                </div>
                                <span class="template__name">
                                <span class="name">Новый опрос</span>
                            </span>
                            </div>
                            <div class="template-item red unselectable">
                                <div class="template__main">
                                    {% include 'main/includes/template_item.html' with delete=' ' %}
                                </div>
                                <span class="template__name">
                                <span class="name">Новый опрос</span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="polls categories-block">
                <div class="substrate">
                    <div class="sort rounded-block unselectable">
                        <div class="category active-sort">
                            <div class="category__title">Мои опросы
                                <div class="category__notice hide"></div>
                            </div>
                        </div>
                        <div class="category">
                            <div class="category__title">Для прохождения
                                <div class="category__notice hide"></div>
                            </div>
                        </div>

                        <div class="sortable">

                            <div class="mdc-select mdc-select--outlined width-245">
                                <div class="mdc-select__anchor height-40" aria-labelledby="outlined-select-label">
                                    <span id="" class="mdc-select__selected-text"></span>
                                    <span class="mdc-select__dropdown-icon">
                                    <svg class="mdc-select__dropdown-icon-graphic" viewBox="7 10 10 5">
                                        <polygon
                                                class="mdc-select__dropdown-icon-inactive"
                                                stroke="none"
                                                fill-rule="evenodd"
                                                points="7 10 12 15 17 10">
                                        </polygon>
                                        <polygon
                                                class="mdc-select__dropdown-icon-active"
                                                stroke="none"
                                                fill-rule="evenodd"
                                                points="7 15 12 10 17 15">
                                        </polygon>
                                    </svg>
                                </span>
                                    <span class="mdc-notched-outline">
                                    <span class="mdc-notched-outline__leading"></span>
                                    <span class="mdc-notched-outline__notch">
{#                                        <span id="outlined-select-label" class="mdc-floating-label">Сортировка</span>#}
                                    </span>
                                    <span class="mdc-notched-outline__trailing"></span>
                                </span>
                                </div>

                                <div class="mdc-select__menu mdc-menu mdc-menu-surface width-245">
                                    <ul class="mdc-list">
                                        <li class="mdc-list-item mdc-list-item--selected" data-value="date">
                                            <span class="mdc-list-item__ripple"></span>
                                            <span class="mdc-list-item__text">По дате</span>
                                        </li>
                                        <li class="mdc-list-item" data-value="name">
                                            <span class="mdc-list-item__ripple"></span>
                                            <span class="mdc-list-item__text">По названию</span>
                                        </li>
                                        <li class="mdc-list-item" data-value="quantity">
                                            <span class="mdc-list-item__ripple"></span>
                                            <span class="mdc-list-item__text">По количеству ответов</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="categories">
                    <div class="category-content my-polls">
                        <div class="category-item poll-item purple unselectable rounded-block button-href"
                             data-href="#">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            Ответов: 12 | 9 июля 2020
                        </span>
                        </div>
                        <div class="category-item poll-item unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            9 июля 2020 | Ответов: 12
                        </span>
                        </div>
                        <div class="category-item poll-item red unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            12 ответов | 9 июля 2020
                        </span>
                        </div>
                        <div class="category-item poll-item red unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            35 ответов | 9 июля 2020
                        </span>
                        </div>
                        <div class="category-item poll-item blue unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            35 ответов | 9 июля 2020
                        </span>
                        </div>
                        <div class="category-item poll-item purple unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            35 ответов | 9 июля 2020
                        </span>
                        </div>
                        <div class="category-item poll-item blue unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            35 ответов | 9 июля 2020
                        </span>
                        </div>
                        <div class="category-item poll-item unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            35 ответов | 9 июля 2020
                        </span>
                        </div>
                    </div>
                    <div class="category-content polls">
                        <div class="category-item poll-item red unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            35 ответов | 9 июля 2020
                        </span>
                        </div>
                        <div class="category-item poll-item purple unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            35 ответов | 9 июля 2020
                        </span>
                        </div>
                        <div class="category-item poll-item blue unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            35 ответов | 9 июля 2020
                        </span>
                        </div>
                        <div class="category-item poll-item unselectable rounded-block">
                            <div class="poll__main">
                                {% include 'main/includes/template_item.html' %}
                            </div>
                            <span class="poll__title">
                            Ежемесячный
                        </span>
                            <div class="line-decoration"></div>
                            <span class="poll_target">
                            Иванов Иван Иванович
                        </span>
                            <span class="poll_details">
                            35 ответов | 9 июля 2020
                        </span>
                        </div>
                    </div>
                    <div class="category-empty center-content-notifications-empty">
                        {% include 'main/includes/bad_search.html' with text="Пока опросов нет" only %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block sidebar-nav-right %}
    {% include 'main/includes/scroll_top.html' %}
{% endblock %}


{% block css %}>
    <link rel="stylesheet" href="{% static 'main/scss/bad_search.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/libraries/scroll_top.min.css' %}">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'main/scss/polls_view.min.css' %}">
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script type="text/javascript" src={% static 'main/js/polls_view.min.js' %}></script>
    {#    <script type="text/javascript" src={% static 'main/js/libraries/topMenu.min.js' %}></script>#}
    <script type="text/javascript" src="{% static 'main/js/libraries/scroll_top.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/libraries/hint.min.js' %}"></script>
{% endblock %}