{% extends 'main/wrapper.html' %}
{% load static %}

{% block content-user %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12 rounded-block">
                    <h1 style="text-align: center">Выбор опрашиваемых</h1>
                    <hr>
                    <div class="row" id="filter">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="filter-position" class="">Должность</label>
                                <select id="filter-position" class="form-control" onchange="filter();">
                                    <option value="position">Все</option>
                                    {% for position in positions %}
                                        <option value="position-{{ position.id }}">{{ position.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="filter-platform">Платформа</label>
                                <select id="filter-platform" class="form-control" onchange="filter();">
                                    <option value="platform">Все</option>
                                    {% for platform in platforms %}
                                        <option value="platform-{{ platform.id }}">{{ platform.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="text-align: center">
                            <button class="" style="border-width: 0; background: #fafafa; outline: none"
                                    form="" onclick="resetFilter();" value="">
                                <i class="fas fa-sync-alt"></i> Очистить
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12" id="result">
                            <form method="post" action="">
                                {% csrf_token %}
                                <div class="card"
                                     style="height: auto; min-height: 50px; max-height: 400px; overflow-y: scroll;">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="selectAll" onclick="selectAllOptions(this);">
                                        <label class="form-check-label" for="selectAll">Выбрать всех</label>
                                    </div>
                                    {% for user in users %}
                                        <div class="form-check result position position-{{ user.positionId }} platform platform-{{ user.platformId }}">
                                            <input class="form-check-input" type="checkbox" name="selectedUsers"
                                                   id="user-{{ user.id }}" value="{{ user.id }}" onclick="optionCheck(this);">
                                            <label class="form-check-label"
                                                   for="user-{{ user.id }}">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <hr>
                                <div style="text-align: right">
                                    <button type="submit" class="btn btn-primary">Далее</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <script type="text/javascript" src={% static 'main/js/filterForRespondentChoice.js' %}></script>
{% endblock %}