{% extends 'main/wrapper.html' %}

{% load static %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' %}
{% endblock %}

{% block content-user %}

{% endblock %}

{% block sidebar-nav-right %}
    {% include 'main/includes/scroll_top.html' %}
{% endblock %}

{% block scripts %}
{#    <script src="{% static 'main/js/scroll_top.min.js' %}"></script>#}
{#    <script src="{% static 'main/js/hint.min.js' %}"></script>#}
{% endblock %}

{% block css %}
{#    <link rel="stylesheet" href="{% static 'main/css/scroll_top.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'main/scss/bad_search.min.css' %}">#}
{% endblock %}