{% extends 'main/wrapper.html' %}

{% load static %}

{% load widget_tweaks %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_profile="active" only %}
{% endblock %}

{% block content-user %}

    {% if profile %}
        <div class="content">
            {% csrf_token %}
            <div class="left-content rounded-block">
                {% if photo and photo.url != '' %}
                    <img src="{{ photo.url }}" alt="" class="left-content-photo">
                {% else %}
                    <img src="{% static 'main/images/photo.svg' %}" alt="" class="left-content-photo">
                {% endif %}
                {#                <button class="left-content-new_poll button-red button-href" data-href="">Провести опрос</button>#}
                {#                <button class="left-content-new_team button-white button-href" data-href="#">Создать команду</button>#}
                <a href="{% url 'main:poll_create' %}" class="button-red a-button" id="createPoll">Провести опрос</a>
                <a href="{% url 'main:create_team' %}" class="button-white a-button" id="createTeam">Создать команду</a>
            </div>
            <div class="center-content">
                <div class="center-content-information rounded-block">
                    <h1 class="center-content-information-name">{{ profile.name }} {{ profile.surname }}</h1>
                    <div class="center-content-information-roles_n_company">
                        {% if roles %}
                            {% for role in roles %}
                                <div class="center-content-information-role _hint unselectable">
                                    <div class="role {% if role == 'boss' %}role-boss{% elif role == 'master' %}role-master{% elif role == 'moderator' %}role-moderator{% endif %} _hint-up">
                                        {% if role == 'boss' %}
                                            Босс
                                        {% elif role == 'master' %}
                                            Мастер опросов
                                        {% elif role == 'moderator' %}
                                            Модератор
                                        {% endif %}
                                    </div>
                                    <div class="_hint-down">
                                        <div class="_hint-down-block">
                                            <div class="role-information">
                                                {% if role == 'boss' %}
                                                    <div class="boss__info"></div>
                                                {% elif role == 'master' %}
                                                    <div class="master__info"></div>
                                                {% elif role == 'moderator' %}
                                                    <div class="moderator__info"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {#                        <a href="{{ profile.company.url }}"#}
                        {#                           class="center-content-information-company hide">{{ profile.company.name }}</a>#}

                        {% if profile.company.id %}
                            <a href="{% url 'main:company_view' id_company=profile.company.id %}"
                               class="center-content-information-company hide">{{ profile.company.name }}</a>
                        {% endif %}
                    </div>
                    <div class="center-content-information-platforms_n_positions">
                        <div class="center-content-information-positions">
                            <h2 class="center-content-information-positions-title">Должности</h2>
                            <div class="center-content-information-positions-data">
                                {% if profile.positions %}
                                    {% for position in profile.positions %}
                                        <div class="center-content-information-position _hint">
                                            <div class="role _hint-up">
                                                {{ position }}
                                            </div>
                                            <div class="_hint-down">
                                                <div class="_hint-down-block">
                                                    <div class="position-information role-information">
                                                        <div class="position__info"></div>
                                                        {#                                                        Должность#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="center-content-information-position-empty">Нет должностей</div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="center-content-information-platforms">
                            <h2 class="center-content-information-platforms-title">Отделы</h2>
                            <div class="center-content-information-platforms-data">
                                {% if profile.platforms %}
                                    {% for platform in profile.platforms %}
                                        <div class="center-content-information-platform _hint">
                                            <div class="role _hint-up">
                                                {{ platform }}
                                            </div>
                                            <div class="_hint-down">
                                                <div class="_hint-down-block">
                                                    <div class="platform-information role-information">
                                                        <div class="platform__info"></div>
                                                        {#                                                        Отдел#}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="center-content-information-platform-empty">Нет должностей</div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                    <div class="center-content-information-more">
                        <div class="center-content-information-more-btn unselectable">
                            <span class="center-content-information-more-btn-text">Показать подробную информацию</span>
                        </div>
                        <div class="center-content-information-more-details show">
                            <div class="center-content-information-more-details-main">
                                <div class="center-content-information-more-details-main-fullname">
                                    <h2 class="center-content-information-more-details-main-birthday-title">ФИО</h2>
                                    <span class="center-content-information-more-details-main-fullname-text">{{ profile.name }} {{ profile.surname }} {{ profile.patronymic }}</span>
                                </div>
                                <div class="center-content-information-more-details-main-birthday">
                                    <h2 class="center-content-information-more-details-main-birthday-title">Дата
                                        рождения</h2>
                                    <span class="center-content-information-more-details-main-birthday-text">{{ profile.birthdate }}</span>
                                </div>
                            </div>
                            <div class="center-content-information-more-details-email">
                                <h2 class="center-content-information-more-details-main-email-title">Эл. почта</h2>
                                <a href="mailto:beast.master64@icloud.com"
                                   class="center-content-information-more-details-main-email-text">{{ profile.email }}</a>
                            </div>
                            <div class="center-content-information-more-details-teams">
                                <h2 class="center-content-information-more-details-main-teams-title">Команды</h2>
                                <div class="center-content-information-more-details-main-teams-block
                                    {% if not profile.teams %}teams-empty{% endif %}">
                                    {% if profile.teams %}
                                        {% for team in profile.teams %}
                                            <a href="{{ team.url }}"
                                               class="center-content-information-more-details-main-team-link">{{ team.name }}</a>
                                        {% endfor %}
                                    {% else %}
                                        Нет команд
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content__body">
                    <div class="body__top categories-block">
                        <div class="substrate">
                            <div class="sort rounded-block unselectable">
                                <div class="category" data-category="polls">
                                    <div class="category__title">Для прохождения
                                        <div class="category__notice{% if data.new.polls == 0 %} hide{% endif %}"
                                             id="polls-notif">1{{ data.new.polls }}</div>
                                    </div>
                                </div>
                                <div class="category" data-category="results">
                                    <div class="category__title">Мои опросы
                                        <div class="category__notice{% if data.new.results == 0 %} hide{% endif %}"
                                             id="results-notif">{{ data.new.polls }}</div>
                                    </div>
                                </div>
                                <div class="category" data-category="invites">
                                    <div class="category__title">Приглашения
                                        <div class="category__notice{% if data.new.invites == 0 %} hide{% endif %}"
                                             id="invites-notif">{{ data.new.polls }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body__bottom unselectable">
                        <div class="show-new-poll rounded-block hide">
                            <div class="label">
                                <img src="{% static 'main/images/icon/expand_less-24px.svg' %}" alt="" class="up">
                                <span class="text">Показать новые опросы</span>
                                <img src="{% static 'main/images/icon/expand_less-24px.svg' %}" alt="" class="up">
                            </div>
                        </div>

                        <div class="notifications">
                            {% include 'main/companies/notifications.html' %}
                        </div>
                    </div>
                </div>

                {#                <div class="categories-block center-content-notifications hidden">#}
                {#                    <div class="notifications-sort-substrate substrate">#}
                {#                        <div class="sort rounded-block unselectable">#}
                {#                            <div class="category active-sort"#}
                {#                                 data-category=".center-content-notifications-polls">#}
                {#                                <div class="category__title">Для прохождения#}
                {#                                    <div class="category__notice hide"></div>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <div class="category"#}
                {#                                 data-category=".center-content-notifications-my_polls">#}
                {#                                <div class="category__title">Мои опросы#}
                {#                                    <div class="category__notice hide"></div>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                            <div class="category"#}
                {#                                 data-category=".center-content-notifications-invites">#}
                {#                                <div class="category__title">Приглашения#}
                {#                                    <div class="category__notice hide"></div>#}
                {#                                </div>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {##}
                {#                    <div class="categories center-content-notifications-categories">#}
                {#                        <div class="category-content center-content-notifications-polls">#}
                {#                            {% if notifications.polls %}#}
                {#                                {% for notif in notifications.polls %}#}
                {#                                    <div class="category-item center-content-notification rounded-block">#}
                {#                                        <div class="notification-image">#}
                {#                                            <img src="{% static 'main/images/newPoll.svg' %}" alt=""#}
                {#                                                 class="notification-image-img">#}
                {#                                        </div>#}
                {#                                        <div class="notification-information">#}
                {#                                            <div class="notification-information-title">{{ notif.title }}</div>#}
                {#                                            <div class="notification-information-more">#}
                {#                                                О ком: <a href="{{ notif.more.url }}"#}
                {#                                                          class="notification-information-more-link">{{ notif.more.name }}</a>#}
                {#                                            </div>#}
                {#                                            <div class="notification-information-about">#}
                {#                                                {{ notif.about }}#}
                {#                                            </div>#}
                {#                                            <div class="notification-information-date">{{ notif.date }}</div>#}
                {#                                        </div>#}
                {#                                        <div class="notification-actions">#}
                {#                                            <div class="notification-actions-menu _hint-wait unselectable">#}
                {#                                                <div class="notification-actions-menu-up _hint-up-wait">#}
                {#                                                    <div class="notification-actions-menu-mark">#}
                {#                                                        <img src="{% static 'main/images/markDown.svg' %}" alt=""#}
                {#                                                             class="notification-actions-menu-mark-img">#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                                <div class="notification-actions-menu-down _hint-down-wait">#}
                {#                                                    <div class="notification-actions-menu-items _hint-down-block">#}
                {#                                                        <div class="notification-actions-menu-item"#}
                {#                                                             id="notification-actions-menu-item">#}
                {#                                                            Скрыть#}
                {#                                                        </div>#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                            <div class="notification-actions-move">#}
                {#                                                <button class="notification-actions-move-btn button-red button-href"#}
                {#                                                        {% if notif.complited %}disabled{% endif %}#}
                {#                                                        data-href="{{ notif.url }}">Пройти#}
                {#                                                </button>#}
                {#                                            </div>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                {% endfor %}#}
                {#                            {% else %}#}
                {#                            {% endif %}#}
                {#                        </div>#}
                {##}
                {##}
                {#                        <div class="category-content center-content-notifications-my_polls">#}
                {#                            {% if notifications.my_polls %}#}
                {#                                {% for notif in notifications.my_polls %}#}
                {#                                    <div class="category-item center-content-notification rounded-block">#}
                {#                                        <div class="notification-image">#}
                {#                                            <img src="{% static 'main/images/pollDone.svg' %}" alt=""#}
                {#                                                 class="notification-image-img">#}
                {#                                        </div>#}
                {#                                        <div class="notification-information">#}
                {#                                            <div class="notification-information-title">{{ notif.title }}</div>#}
                {#                                            <div class="notification-information-more">#}
                {#                                                О ком: <a href="{{ notif.more.url }}"#}
                {#                                                          class="notification-information-more-link">{{ notif.more.name }}</a>#}
                {#                                            </div>#}
                {#                                            <div class="notification-information-about">#}
                {#                                                {{ notif.about }}#}
                {#                                            </div>#}
                {#                                            <div class="notification-information-date">{{ notif.date }}</div>#}
                {#                                        </div>#}
                {#                                        <div class="notification-actions">#}
                {#                                            <div class="notification-actions-menu _hint-wait unselectable">#}
                {#                                                <div class="notification-actions-menu-up _hint-up-wait">#}
                {#                                                    <div class="notification-actions-menu-mark">#}
                {#                                                        <img src="{% static 'main/images/markDown.svg' %}" alt=""#}
                {#                                                             class="notification-actions-menu-mark-img">#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                                <div class="notification-actions-menu-down _hint-down-wait">#}
                {#                                                    <div class="notification-actions-menu-items _hint-down-block">#}
                {#                                                        <div class="notification-actions-menu-item"#}
                {#                                                             id="notification-actions-menu-item">#}
                {#                                                            Скрыть#}
                {#                                                        </div>#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                            <div class="notification-actions-move">#}
                {#                                                <button class="notification-actions-move-btn button-{% if not notif.complited %}red{% else %}white{% endif %} button-href"#}
                {#                                                        data-href="{{ notif.url }}">Смотреть#}
                {#                                                </button>#}
                {#                                            </div>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                {% endfor %}#}
                {#                            {% else %}#}
                {#                            {% endif %}#}
                {#                        </div>#}
                {##}
                {##}
                {#                        <div class="category-content center-content-notifications-invites">#}
                {#                            {% if notifications.invites %}#}
                {#                                {% for notif in notifications.invites %}#}
                {#                                    <div class="category-item center-content-notification rounded-block">#}
                {#                                        <div class="notification-image">#}
                {#                                            <img src="{% static 'main/images/inviteTeam.svg' %}" alt=""#}
                {#                                                 class="notification-image-img">#}
                {#                                        </div>#}
                {#                                        <div class="notification-information">#}
                {#                                            <div class="notification-information-title">#}
                {#                                                <a href="{{ notif.title.url }}"#}
                {#                                                   class="notification-information-title-link">#}
                {#                                                    {{ notif.title.name }}#}
                {#                                                </a>#}
                {#                                            </div>#}
                {#                                            <div class="notification-information-more">#}
                {#                                                От кого: <a href="{{ notif.more.url }}"#}
                {#                                                            class="notification-information-more-link">{{ notif.more.name }}</a>#}
                {#                                            </div>#}
                {#                                            <div class="notification-information-about">#}
                {#                                                {{ notif.about }}#}
                {#                                            </div>#}
                {#                                            <div class="notification-information-date">{{ notif.date }}</div>#}
                {#                                        </div>#}
                {#                                        <div class="notification-actions">#}
                {#                                            <div class="notification-actions-menu _hint-wait unselectable">#}
                {#                                                <div class="notification-actions-menu-up _hint-up-wait">#}
                {#                                                    <div class="notification-actions-menu-mark">#}
                {#                                                        <img src="{% static 'main/images/markDown.svg' %}" alt=""#}
                {#                                                             class="notification-actions-menu-mark-img">#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                                <div class="notification-actions-menu-down _hint-down-wait">#}
                {#                                                    <div class="notification-actions-menu-items _hint-down-block">#}
                {#                                                        <div class="notification-actions-menu-item"#}
                {#                                                             id="notification-actions-menu-item">#}
                {#                                                            Скрыть#}
                {#                                                        </div>#}
                {#                                                    </div>#}
                {#                                                </div>#}
                {#                                            </div>#}
                {#                                            <div class="notification-actions-move">#}
                {#                                                <button class="notification-actions-move-btn button-red button-href"#}
                {#                                                        {% if notif.complited %}disabled{% endif %}#}
                {#                                                        data-href="{{ notif.url }}">Вступить#}
                {#                                                </button>#}
                {#                                            </div>#}
                {#                                        </div>#}
                {#                                    </div>#}
                {#                                {% endfor %}#}
                {#                            {% else %}#}
                {#                            {% endif %}#}
                {##}
                {#                        </div>#}
                {##}
                {#                        <div class="category-empty center-content-notifications-empty">#}
                {#                            {% include 'main/includes/bad_search.html' with text="Сейчас<br>уведомлений нет" only %}#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                </div>#}
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block sidebar-nav-right %}
    {% include 'main/includes/scroll_top.html' %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={% static 'main/js/profile.js' %}></script>
    <script src="{% static 'main/js/libraries/scroll_top.min.js' %}"></script>
    <script src="{% static 'main/js/libraries/hint.min.js' %}"></script>
    {#    <script src="{% static 'main/js/libraries/topMenu.min.js' %}"></script>#}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/libraries/scroll_top.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/profile.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/bad_search.min.css' %}">
{% endblock %}