{% extends 'main/wrapper.html' %}

{% load static %}

{% load widget_tweaks %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_profile="active" only %}
{% endblock %}

{% block content-user %}
    <div class="row">
        <!-- Профиль пользователя -->
        <div class="col-md-3" style="padding-right: 25px">
            <!-- Аватар и кнопки -->
            <div class="row">
                <!-- Аватар -->
                <div class="col-12 rounded-block"
                     style="margin-bottom: 10px">
                    {% if photo %}
                        <div style="position: relative; width:177px; height:{{ photo_height }}px;
                                border: 1px solid #9f9f9f">
                            <img style="position: absolute; left:50%; top:50%;
                                        transform: translate(-50%, -50%); max-width:100%;max-height: 100%;"
                                 src="{{ photo.url }}">
                        </div>
                    {% else %}
                        <div style="position: relative; width:177px; height:220px">
                            <img style="position: absolute; left:50%; top:50%;
                                        transform: translate(-50%, -50%); max-width:100%;max-height: 100%;"
                                 src="{% static 'main/images/none_photo.png' %}">
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <!-- Кнопки -->
                <div class="col-12 rounded-block">
                    <p>
{#                        {% if not profile.company %}#}
{#                            <a href="{% url 'main:connect_to_company' %}">Присоединиться к компании</a><br>#}
{#                        {% endif %}#}
{#                        <a href="{% url 'main:connect_to_group' %}">Присоединиться к команде</a><br>#}
                        <a href="{% url 'main:platform_choice' %}">{% if not profile.platform %}Выбрать{% else %}
                            Изменить{% endif %} платформу</a><br>
                        <a href="{% url 'main:position_choice' %}">{% if not profile.platform %}Выбрать{% else %}
                            Изменить{% endif %} должность</a>
                    </p>
                    <hr>
                    <p>
                        {% if not profile.company %}
                            <a href="{% url 'main:add_company' %}">Создать компанию</a><br>
                        {% endif %}
                        <a href="{% url 'main:create_group' %}">Создать команду</a><br>
                    </p>
                </div>
            </div>
        </div>
        <!--Основная информация-->
        <div class="col-md-9">
            <div class="row">
                <div class="col-12 rounded-block"
                     style="margin-bottom: 10px; height: auto">
                    <h3>{{ profile.surname }} {{ profile.name }} {{ profile.patronymic }}</h3>
                    <hr>
                    <h4>Компания</h4>
                    {% if profile.company %}
                        <a href="{% url 'main:company_view' %}">{{ profile.company.name }}</a>
                    {% else %}
                        Компания отсутствует
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 rounded-block"
                     style="margin-bottom: 10px; height: 100px">
                    <h4>Платформа</h4>
                    <p>
                        {% if profile.platform %}
                            {{ profile.platform }}
                        {% else %}
                            Платформа отсутствует
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="row">
                <!-- Последние оценки -->
                <div class="col-12 rounded-block"
                     style="height: 100px; margin-bottom: 10px">
                    <h4>Должность</h4>
                    <p>
                        {% if profile.position %}
                            {{ profile.position }}
                        {% else %}
                            Должность отсутствует
                        {% endif %}
                    </p>
                </div>
                <div class="col-12 rounded-block"
                     style="height: auto; margin-bottom: 10px">
                    <h4>Команды</h4>
                    <p>
                        {% if teams %}
                            {% for team in teams %}
                                <a href="{% url 'main:group_user_view' team.pk %}">{{ team.name }}</a> <br>
                            {% endfor %}
                        {% else %}
                            Команды отсутствуют
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar-nav-right %}
    {#    <h3 style="color: #b21f2d">Для отладки</h3>#}
    {#    <div>#}
    {#        <a class="btn btn-success" href="{% url 'main:search_profile' %}">Поиск профилей</a>#}
    {#        <hr>#}
    {#        <a class="btn btn-success" href="{% url 'main:search_admins_and_redirect_to_add_method' %}">Добавление#}
    {#            админов</a>#}
    {#        <hr>#}
    {#        <a class="btn btn-success" href="{% url 'main:search_hr_and_redirect_to_add_method' %}">Добавление HR</a>#}
    {#        <hr>#}
    {#        <a class="btn btn-success" href="{% url 'main:answer_the_poll' 84 %}">Прохождение опроса</a>#}
    {#        <hr>#}
    {#        <a class="btn btn-success" href="{% url 'main:new_poll' 27 %}">Создание опроса</a>#}
    {#        <hr>#}
    {#        <a class="btn btn-success" href="#">Создание опроса через шаблон</a>#}
    {#        <hr>#}
    {#        <a class="btn btn-success" href="{% url 'main:result_poll' 85 %}">Результаты опроса</a>#}
    {#        <hr>#}
    {#        <a class="btn btn-success" href="{% url 'main:respondent_choice_company' %}">Выбор опрашиваемых</a>#}
    {#        <hr>#}
    {#        <a class="btn btn-success" href="{% url 'main:respondent_choice_group' 8 %}">Выбор опрашиваемых из группы</a>#}
    {#    </div>#}
{% endblock %}
