body {
    overflow: hidden;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: whitesmoke;
    z-index: 1100;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top-color: transparent;
    transform: translateY(-50%) translateX(-50%);
    animation: 2s spin2 infinite linear;
}

.done .preloader {
    display: none;
}

.preloader-hiding body {
    overflow: auto;
}

.preloader-hiding .preloader {
    transition: opacity .2s;
    opacity: 0;
}

@keyframes spin {
    from {
        transform: translateY(-50%) translateX(-50%) rotate(0deg);
        border: 5px solid red;
        border-top-color: transparent;
    }
    to {
        transform: translateY(-50%) translateX(-50%) rotate(360deg);
        border: 5px solid green;

        border-top-color: transparent;
    }
}

@keyframes spin2 {
    0% {
        border: 5px solid red;
        transform: translateY(-50%) translateX(-50%) rotate(0deg);
        border-top-color: transparent;
    }
    14% {
        border: 5px solid orange;
        transform: translateY(-50%) translateX(-50%) rotate(51deg);
        border-top-color: transparent;
    }
    28% {
        border: 5px solid yellow;
        transform: translateY(-50%) translateX(-50%) rotate(102deg);
        border-top-color: transparent;
    }
    42% {
        border: 5px solid green;
        transform: translateY(-50%) translateX(-50%) rotate(153deg);
        border-top-color: transparent;
    }
    56% {
        border: 5px solid skyblue;
        transform: translateY(-50%) translateX(-50%) rotate(204deg);
        border-top-color: transparent;
    }
    70% {
        border: 5px solid blue;
        transform: translateY(-50%) translateX(-50%) rotate(255deg);
        border-top-color: transparent;
    }
    85% {
        border: 5px solid purple;
        transform: translateY(-50%) translateX(-50%) rotate(306deg);
        border-top-color: transparent;
    }
    100% {
        border: 5px solid red;
        transform: translateY(-50%) translateX(-50%) rotate(360deg);
        border-top-color: transparent;
    }
}