/*input.success,*/
/*select.success,*/
/*input.success:focus,*/
/*select.success:focus {*/
/*    background-color: #d0ffda;*/
/*}*/

/*input.error,*/
/*input.error:focus {*/
/*    background-color: #ffd0d0;*/
/*}*/

/*i.required {*/
/*    transform: scale(0.65);*/
/*    color: #b21f2d;*/
/*}*/

/*.register-select-city:invalid {*/
/*    color: gray;*/
/*}*/
.register-form {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.register-form-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin: 31px 0 11px;
}

.register-form-fields {
    margin-top: 0;
}

.register-form-fields > .form-grouping:last-child {
    margin-bottom: 0;
}

.register-form-navigate {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto 0 33px;
}

.register-form-navigate-btn {
    width: 80px;
    height: 40px;
}

.register-form-navigate-btn:nth-child(2n) {
    margin-right: 12px;
}

.register-form-fields-text {
    margin-top: 9px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #595757;
    margin-bottom: 25px;
}

.register-form-fields-text-part:nth-child(1) {
    margin-bottom: 20px;
}

/*.register-form-navigate-btn-back_step {*/
/*    margin-right: 12px;*/
/*}*/