{% load static %}
<div class="substrate">
    <div class="sort rounded-block unselectable">
        <div class="category active-sort" data-category="" data-part-url="participants">
            <div class="category__title">Участники ({{ company.countParticipants }})
                {#                                <div class="category__notice hide"></div>#}
            </div>
        </div>
        <div class="category" data-category="" data-part-url="teams">
            <div class="category__title">Команды ({{ company.countTeams }})
                {#                            <div class="category__notice hide"></div>#}
            </div>
        </div>
        <div class="loader-round hide">
            <div class="loader__status"></div>
            {#            <img src="{% static 'main/images/icon/cached-24px.svg' %}" alt="" class="update">#}
        </div>
    </div>
    <div class="unselectable search-down rounded-block">
        <div class="search ">
            <input type="text" class="input-field input__search" data-mode="participants"
                   placeholder="Поиск по участникам..." autocomplete="off">
        </div>
    </div>
</div>
<div class="categories">
    <div class="content">
        {% include 'main/poll/select_target/content_participants.html' %}
        {#        {% include 'main/poll/select_target/content_teams.html' %}#}
    </div>
</div>