.btn-primary {
  color: #fff;
  background-color: #a68aff;
  border-color: #a68aff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #8870cd;
  border-color: #8870cd;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #3b2f5f;
  border-color: #68549f;
  box-shadow: 0 0 0 0.2rem rgba(69, 15, 113, 0.74)
}

.btn-primary:active .btn-primary.active {
  color: #ffffff;
  background-color: #2c2640;
  border-color: #68549f;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #846ec7;
  border-color: #846ec7;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #68549f;
  border-color: #68549f;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(69, 15, 113, 0.74);
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #806e9f;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(166, 138, 255, 0.76);
}
