{% extends "main/wrapper.html" %}
{% load static %}
{% load widget_tweaks %}

{% block header-nav %}
    {% include 'main/includes/header_nav.html' with nav_login='active' only %}
{% endblock %}

{% block content %}

    <div class="login">
        <div class="slider">
            {% include 'main/includes/slider.html' %}
        </div>
        <div class="login-content rounded-block">
            {% block login-content %}
                <div class="login-form">
                    <form method="post" action="">
                        {% csrf_token %}
                        <h1 class="login-form-title">Вход</h1>
                        <div class="login-form-fields">
                            <div class="form-grouping">
                                <label class="form-fields-label" for="username">Логин</label>
                                <input class="input-field {% if error.login %}error{% endif %}" aria-describedby="usernameHelp"
                                       placeholder="Введите логин"
                                       type="text"
                                       name="username" value="{{ username }}" id="username" required>
                                {% if error.login %}
                                    <div class="popup">
                                        <div class="popup_message">
                                            <span class="popup_message-text">{{ error.login }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-grouping">
                                <label class="form-fields-label" for="password">Пароль</label>
                                <input class="input-field {% if error.password %}error{% endif %}"
                                       aria-describedby="passwordHelp"
                                       placeholder="Введите пароль"
                                       type="password" name="password" id="password" required>
                                {% if error.password %}
                                    <div class="popup">
                                        <div class="popup_message">
                                            <span class="popup_message-text">{{ error.password }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="login-form-navigate">
                            <button class="button-red login-form-navigate-btn">Войти</button>
                        </div>
                    </form>
                </div>
                <span class="login-form-line"></span>
                <div class="login-form-helper">
                    <div class="login-form--helper-register">
                            <span class="login-form--helper-register-text">
                                Впервые у нас? <a href="{% url 'main:register' %}"
                                                  class="login-form--helper-register-btn">Зарегистрируйтесь</a>
                            </span>
                    </div>
                    <div class="login-form--helper-reset_pass">
                        <a href="{% url 'main:password_reset' %}" class="login-form--helper-reset_pass-btn">Забыли
                            пароль?</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src={% static 'main/js/libraries/swiper.min.js' %}></script>
    <script type="text/javascript" src={% static 'main/js/slider.min.js' %}></script>
    {% block login-script %}
        <script type="text/javascript" src="{% static 'main/js/login.min.js' %}"></script>
    {% endblock %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/libraries/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/login.min.css' %}">
    {% block login-css %}
    {% endblock %}
{% endblock %}