{% extends "main/no_login/login.html" %}
{% load static %}
{% load widget_tweaks %}

{% block header-nav %}
    {% include 'main/includes/header_nav.html' with nav_register='active' only %}
{% endblock %}

{% block login-content %}
    <div class="register-form">
        <form class="register-form" method="post" action="">
            {% csrf_token %}
            <h1 class="register-form-title">Регистрация</h1>
            <div class="register-form-fields step-1">
                <div class="form-grouping">
                    <label class="form-fields-label" for="{{ user_form.username.id_for_label }}">Логин</label>
                    {{ user_form.username|attr:"placeholder:Придумайте логин"|add_class:"input-field" }}
                    <div class="popup">
                        <div class="popup_message">
                        </div>
                    </div>
                </div>
                <div class="form-grouping">
                    <label class="form-fields-label" for="{{ email_form.email.id_for_label }}">Электронная
                        почта</label>
                    {{ email_form.email|attr:"placeholder:Ваша электронная почта"|add_class:"input-field" }}
                    <div class="popup">
                        <div class="popup_message">
                        </div>
                    </div>
                </div>
                <div class="form-grouping">
                    <label class="form-fields-label" for="{{ user_form.password1.id_for_label }}">Пароль</label>
                    {{ user_form.password1|attr:"placeholder:Придумайте пароль"|add_class:"input-field" }}
                    <div class="popup">
                        <div class="popup_message">
                        </div>
                    </div>
                </div>
                <div class="form-grouping">
                    <label class="form-fields-label" for="{{ user_form.password2.id_for_label }}">Повторите
                        пароль</label>
                    {{ user_form.password2|attr:"placeholder:Повторите пароль"|attr:"disabled:disabled"|add_class:"input-field" }}
                    <div class="popup">
                        <div class="popup_message">
                        </div>
                    </div>
                </div>
            </div>
            <div class="register-form-fields step-2 hide">
                <div class="form-grouping">
                    <label class="form-fields-label" for="{{ profile_form.name.id_for_label }}">Фамилия</label>
                    {{ profile_form.name|attr:"placeholder:Ваша фамилия"|add_class:"input-field" }}
                    <div class="popup">
                        <div class="popup_message">
                        </div>
                    </div>
                </div>
                <div class="form-grouping">
                    <label class="form-fields-label" for="{{ profile_form.surname.id_for_label }}">Имя</label>
                    {{ profile_form.surname|attr:"placeholder:Ваше имя"|add_class:"input-field" }}
                    <div class="popup">
                        <div class="popup_message">
                        </div>
                    </div>
                </div>
                <div class="form-grouping">
                    <label class="form-fields-label" for="{{ profile_form.patronymic.id_for_label }}">Отчество</label>
                    {{ profile_form.patronymic|attr:"placeholder:Ваше отчество"|add_class:"input-field" }}
                    <div class="popup">
                        <div class="popup_message">
                        </div>
                    </div>
                </div>
                <div class="form-grouping">
                    <label class="form-fields-label" for="{{ birth_date_form.birthday.id_for_label }}">День
                        рождения</label>
                    {{ birth_date_form.birthday|attr:"placeholder:Ваш день родения"|attr:"type:"|add_class:"input-field" }}
                    <div class="popup">
                        <div class="popup_message">
                        </div>
                    </div>
                </div>
            </div>
            <div class="register-form-navigate">
                <button class="button-red register-form-navigate-btn register-form-navigate-btn-next_step step-1"
                        type="button" disabled>Далее
                </button>
                <button class="button-white register-form-navigate-btn register-form-navigate-btn-back_step step-2 hide"
                        type="button">Назад
                </button>
                <button id="btn-register" class="button-red register-form-navigate-btn step-2 hide"
                        type="submit" disabled>Готово
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block login-css %}
    <link rel="stylesheet" href="{% static 'main/css/register.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/datepicker.min.css' %}">
{% endblock %}

{% block login-script %}
    <script type="text/javascript" src={% static 'main/js/register.min.js' %}></script>
    <script type="text/javascript" src={% static 'main/js/datepicker.min.js' %}></script>
{% endblock %}