{% extends 'main/wrapper.html' %}

{% load static %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' %}
{% endblock %}

{% block content-user %}

    <div class="content">
        {% csrf_token %}
        <div class="search rounded-block">
            <a href="{% url 'main:profile' profile_id=alien_profile.id %}" class="search__button button-white a-button">Готово</a>
            <input type="text" class="search__input input-field" placeholder="Поиск по командам...">
        </div>
        <!-- /.search -->
        <div class="result">
            <div class="teams">
                {% if teams %}
                    {% include 'main/teams/teams_for_invites.html' %}
                {% else %}
                    {% include 'main/includes/bad_search.html' with text='По вашему запросу<br>ничего не найдено' %}
                {% endif %}
            </div>
            <!-- /.teams -->
        </div>
        <!-- /.result -->
    </div>
    <!-- /.content -->

{% endblock %}


{% block sidebar-nav-right %}
    {% include 'main/includes/scroll_top.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/libraries/scroll_top.min.js' %}"></script>
    <script src="{% static 'main/js/search_team_for_invite_from_alien_profile.min.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/libraries/scroll_top.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/search_team_for_invite_from_alien_profile.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/bad_search.min.css' %}">
{% endblock %}