{% extends 'main/wrapper.html' %}
{% load static %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_teams="active" only %}
{% endblock %}

{% block content-user %}

    <div class="content">
        {% csrf_token %}
        <div class="content__head rounded-block">
            <div class="head__top">
                <div class="info">
                    <h1 class="team__name">{{ team.name }}</h1>
                    <div class="company-substrate">
                        <a href="{{ company.href }}" class="company__href">{{ company.name }}</a>
                    </div>
                </div>
                <div class="actions">
                    <a href="{% url 'main:create_poll_from_team' team_id=team.id %}" class="new-poll button-red a-button">Провести опрос</a>
                </div>
            </div>
            <div class="head__middle">
                <h3 class="subtitle">Описание</h3>
                <div class="description">
                    {{ team.description }}
                </div>
            </div>
        </div>
        <div class="head__bottom rounded-block">
            <input type="text" class="search input-field" placeholder="Поиск по участникам..." autocomplete="off">
            {% if not is_leader %}
                <button class="button-white send-invites button-href" data-href="{% url 'main:team_new_invites' team_id=team.id %}">Пригласить ещё</button>
            {% endif %}
        </div>
        <div class="content__body">
            {% include 'main/teams/teammates.html' %}
        </div>
    </div>

{% endblock %}

{% block sidebar-nav-right %}
    {% include 'main/includes/menu_team_view_right.html' with menu_team='item--active' %}
    {% include 'main/includes/scroll_top.html' %}
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'main/scss/bad_search.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/libraries/scroll_top.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/team_view.min.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'main/js/libraries/scroll_top.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/libraries/hint.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/team_view.js' %}"></script>
{% endblock %}
