{% extends 'main/general/wrapper.html' %}
{% load static %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_teams="active" %}
{% endblock %}

{% block content-user %}

    <div class="content">
        {% csrf_token %}
        <div class="content__head rounded-block">
{#            <button class="button-white button-href" id="backToTeam" data-href="{% url 'main:team_view' group_id=team.id %}">Готово</button>#}
            <a href="{% url 'main:team_view' group_id=team.id %}" class="a-button button-white">Готово</a>
            <input type="text" class="input-field" id="search" placeholder="Поиск людей в  компании..." autocomplete="off">
        </div>
        <div class="content__body">
            {% include 'main/teams/new_future_teammates.html' %}
        </div>
    </div>

{% endblock %}

{% block sidebar-nav-right %}
    {% include 'main/includes/menu_team_view_right.html' with menu_team='item--active' %}
    {% include 'main/includes/scroll_top.html' %}
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'main/scss/bad_search.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/libraries/scroll_top.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/team_new_invites.min.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'main/js/libraries/scroll_top.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/libraries/hint.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/team_new_invites.js' %}"></script>
{% endblock %}
