{% load static %}

{#<style>#}
{#    .mail {#}
{#        background-color: #a1a1a1;#}
{#        width: 100%;#}
{#        height: 100%;#}
{#    }#}
{##}
{#    .mail__content {#}
{#        display: flex;#}
{#        flex-direction: column;#}
{#        width: 595px;#}
{#        height: auto;#}
{#        margin: 30px auto 30px;#}
{#    }#}
{##}
{#    .mail__head {#}
{#        display: flex;#}
{#        flex-direction: row;#}
{#        justify-content: flex-start;#}
{#        align-items: center;#}
{#        height: 57px;#}
{#        width: 100%;#}
{#        border-bottom: 1px solid #E5E5E5;#}
{#    }#}
{##}
{#    .head__logo {#}
{#        display: block;#}
{#        margin-left: 30px;#}
{#        width: 56px;#}
{#        height: 28px;#}
{#        background-image: url('../../../static/main/images/newLogo.svg');#}
{#        background-repeat: no-repeat;#}
{#        background-size: cover;#}
{#        outline: none;#}
{#        border: none;#}
{#        text-decoration: none;#}
{#    }#}
{##}
{#    .mail__body {#}
{#        display: block;#}
{#        width: 530px;#}
{#        height: auto;#}
{#        margin: 30px auto 0;#}
{#        font-style: normal;#}
{#        font-weight: normal;#}
{#        font-size: 17px;#}
{#        line-height: 20px;#}
{#        color: #000000;#}
{#    }#}
{##}
{#    .mail__text {#}
{#        display: inline-block;#}
{#        margin-top: 25px;#}
{#    }#}
{##}
{#    .mail__end {#}
{#        display: inline-block;#}
{#        margin: 40px 0 0 auto;#}
{#    }#}
{##}
{#    .mail__footer {#}
{#        display: flex;#}
{#        flex-direction: column;#}
{#        justify-content: space-between;#}
{#        margin-top: 260px;#}
{#        padding-top: 100px;#}
{#        background-image: url('../../../static/main/images/funnySmile.svg');#}
{#        background-repeat: no-repeat;#}
{#        background-size: 82px 82px;#}
{#        background-position: 50% 0;#}
{#    }#}
{#</style>#}

<div class="mail" style="background-color: #a1a1a1;
        box-sizing: border-box;
        width: auto;
        height: auto;
        padding: 1px">
    <div class="mail__content" style="display: block;
        box-sizing: border-box;
        width: 595px;
        height: auto;
        margin: 30px auto 30px;
        background-color: #fff;">
        <div class="mail__head" style="display: block;
        height: 57px;
        width: 100%;
        padding-top: 14px;
        border-bottom: 1px solid #E5E5E5;
        box-sizing: border-box;">
            <a href="http://3.14.4.30" class="head__logo" target="_blank" style="display: inline-block;
        box-sizing: border-box;
        width: 56px;
        height: 28px;
        background-image: url('http://3.14.4.30/static/main/images/newLogo.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto auto auto 30px;
        outline: none;
        border: none;
        text-decoration: none;">
{#                <img src="{% static 'main/images/newLogo.svg' %}" alt="LOGO" style="width: 56px; height: 28px;">#}
            </a>
        </div>
        <div class="mail__body" style="display: block;
        box-sizing: border-box;
        width: 530px;
        height: auto;
        margin: 30px auto 260px;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #000000;">
            <span class="mail__text" style="display: inline-block;
        box-sizing: border-box;
        margin-top: 25px;">Здравствуйте, <strong>{{ user.name }} {{ user.patronymic }}!</strong></span>
            <span class="mail__text" style="display: inline-block;
        box-sizing: border-box;
        margin-top: 25px;">
                Мы получили запрос на восстановление пароля от вашей учётной записи на сайте ПРОЕКТ360, для создания нового пароля
                <a href="{{ url }}" style="" target="_blank">перейдите&nbsp;по&nbsp;ссылке</a>&nbsp;.
            </span>
            <span class="mail__text" style="display: inline-block;
        box-sizing: border-box;
        margin-top: 25px;">Если запрос отправили не Вы, проигнорируйте это письмо.</span>
            <span class="mail__end" style="display: inline-block;
        box-sizing: border-box;
            margin: 40px 0 0 auto;
            float: right;">С уважением, команда ПРОЕКТ360</span>
        </div>
        <div class="mail__footer" style="display: block;
        box-sizing: border-box;
        margin-top: 260px;
        padding-top: 100px;
        background-image: url('https://avatars.mds.yandex.net/get-pdb/2812922/5b4203b2-56fb-4a06-9d48-a50e752d7f5d/s1200');
        background-repeat: no-repeat;
        background-size: 82px 82px;
        background-position: 50% 0;"> 12</div>
    </div>
</div>