{% extends 'main/old/wrapper_old.html' %}

{% block content %}
    <div>
        <h1>
            {% if user.is_authenticated %}
                {{ name }}, добро пожаловать!
            {% else %}
                Пользователь не авторизован!
            {% endif %}
    </h1>
    </div>
    <a class="btn btn-success badge-pill" href="{% url 'main:user' %}">юзер</a>

    <div class="row">
        <div class="col-md-4" style="background-color: #0f6674">
            Left
        </div>
        <div class="col-md-4" style="background-color: #7abaff">
            Middle
        </div>
        <div class="col-md-4" style="background-color: lightcoral">
            Right
        </div>
    </div>

{% endblock %}