.bad-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .bad-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .bad-content__img {
      width: 82px;
      height: 82px;
      margin-bottom: 15px;
    }

    .bad-content__text {
      text-align: center;
      font-style: italic;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #C4C4C4;
    }
  }
}