.content {
  .settings {
    .settings__body {
      padding: 0 110px 47px;
      border-bottom: 1px solid #E5E5E5;

      .subtitle {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #595757;
        margin-top: 15px;
      }

      .name {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;

        #teamName {
          width: 400px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #595757;
        }
      }

      .description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 45px;

        #teamDescription {
          width: 400px;
          height: 100px;
          resize: none;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #595757;

          &:focus {
          }
        }
      }

      .href-invite {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        .subtitle {
          margin-top: 0;
        }

        #href-invite {
          display: none;
          width: 0;
          height: 0;
        }

        #copy {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #2269D5;
          margin-left: 25px;
          margin-right: auto;
        }
      }

      .remove-team {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #2269D5;
      }
    }

    .settings__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      #saveChanges {
        width: 180px;
      }
    }
  }
}