{% extends 'main/general/wrapper.html' %}
{% load static %}
{% block content %}

    <div class="reset-pass">
        <div class="reset-pass-block rounded-block">
            <h1 class="reset-pass-title reset-pass-success-title">Восстановление пароля</h1>
            <div class="reset-pass-subtitle reset-pass-success-subtitle">
                <p class="reset-pass-success-subtitle-part">Мы отправили Вам письмо с инструкциями для настройки пароля на указанный электронный адрес.</p>
                <p class="reset-pass-success-subtitle-part">Если вы не получили письмо, убедитесь, что вы ввели правильный адрес электронной почты и проверьте папку “Спам”.</p>
            </div>

{#            <div class="reset-pass-repeat text-center">#}
{#                <p class="reset-pass-repeat-letter" data-email="{{ email }}">Отправить письмо ещё раз (доступно через <span class="reset-pass-timer">20</span> с.)</p>#}
{#            </div>#}

            <form action="{% url 'main:password_reset' %}" method="POST" class="reset-pass-success-form">
                {% csrf_token %}
                <input type="email" name="email" id="id_email" required hidden>
                <div class="reset-pass-repeat text-center">
                    <p class="reset-pass-repeat-letter" data-email="{{ email }}">Отправить письмо ещё раз (доступно
                        через <span class="reset-pass-timer">5</span> с.)</p>
                </div>
            </form>


            <div class="reset-pass-btn reset-pass-success-btn">
{#                <a href="{% url 'main:login' %}" id="login" class="reset-pass-back-home-page">Назад на главную</a>#}
                <button type="button" class="button-white reset-pass-success-back">Назад</button>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/reset_pass_done.min.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/reset_pass.min.css' %}">
{% endblock %}