{% extends 'main/general/wrapper.html' %}
{% load static %}
{% block content %}

    <div class="reset-pass">
        <form method="POST">
            <div class="reset-pass-block rounded-block">
                {% csrf_token %}
                <h1 class="reset-pass-title">Восстановление пароля</h1>
                <h3 class="reset-pass-subtitle">
                    Введите адрес электронной почты, с которым Вы регистрировались на нашем сайте
                </h3>
                <input type="email" name="email" id="id_email" required class="reset-pass-email input-field"
                       placeholder="Ваш адрес эл. почты" size="5" autocomplete="off">
                <div class="input-buffer"></div>
                <div class="reset-pass-btn">
                    {#                    <a href="{% url 'main:login' %}" id="login" class="reset-pass-back-home-page">Назад на главную</a>#}
                    <button class="button-red reset-pass-next" type="submit" disabled>Далее</button>
                </div>
            </div>
        </form>
    </div>



{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/reset_pass_form.min.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/reset_pass.min.css' %}">
{% endblock %}