{% extends 'main/wrapper.html' %}
{% load static %}
{% block content %}

    <div class="row flex-center">
        <div class="col-md-8 rounded-block d-flex flex-column text-center reset-pass-block">
            <form method="POST">
                {% csrf_token %}
                <h1 class="reset-pass-title text-center">Восстановление пароля</h1>
                <h3 class="reset-pass-subtitle text-center">
                    Введите адрес электронной почты, с которым Вы регистрировались на нашем сайте
                </h3>
                <input type="email" name="email" id="id_email" required class="reset-pass-email form-control"
                       placeholder="Ваш адрес эл. почты" size="5">
                <div class="input-buffer"></div>
                <div class="reset-pass-btn">
                    <a href="{% url 'main:login' %}" class="reset-pass-back-home-page">Назад на главную</a>
                    <button class="btn btn-primary reset-pass-next" type="submit">Далее</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/reset_pass_form.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/reset_pass.css' %}">
{% endblock %}