{% extends "main/wrapper.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    {% if validlink %}

        <div class="row justify-content-center">
            <div class="col-md-8 rounded-block d-flex flex-column text-center reset-pass-block">
                <form method="POST">
                    {% csrf_token %}
                    <h1 class="reset-pass-title text-center">Создание пароля</h1>
                    <h3 class="reset-pass-subtitle new-pass-subtitle text-center">
                        Придумайте новый пароль для своей учётной записи
                    </h3>
                    <div class="new-pass-block">
                        {{ form.new_password1|attr:"placeholder:Придумайте новый пароль"|add_class:"form-control"|add_class:"new-pass-input" }}
                        {{ form.new_password2|attr:"placeholder:Введите пароль ещё раз"|add_class:"form-control"|add_class:"new-pass-input" }}
                    </div>
                    <div class="input-buffer"></div>
                    <div class="reset-pass-btn">
                        <a href="{% url 'main:login' %}" class="reset-pass-back-home-page">Отменить изменение пароля</a>
                        <button class="btn btn-primary reset-pass-next" type="submit">Готово</button>
                    </div>
                </form>
            </div>
        </div>

    {% else %}


    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/reset_pass.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/reset_pass.css' %}">
{% endblock %}