{% extends "main/wrapper.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

    {% if validlink %}

        <div class="reset-pass">
            <form method="POST">
                <div class="reset-pass-block rounded-block">
                    {% csrf_token %}
                    <h1 class="reset-pass-title reset-pass-confirm-title">Восстановление пароля</h1>
                    <h3 class="reset-pass-subtitle reset-pass-confirm-subtitle">
                        Придумайте новый пароль для своей учётной записи
                    </h3>
                    <div class="reset-pass-confirm-new-pass-block">
                        {% if form.new_password2.errors %}
                            <div class="reset-pass-confirm-new-pass-form-group">
                                {{ form.new_password1|attr:"placeholder:Придумайте новый пароль"|add_class:"input-field"|add_class:'error'|add_class:"reset-pass-confirm-new-pass-input" }}
                                <div class="popup">
                                    <div class="popup_message">
                                        {% for error in form.new_password2.errors %}
                                            <span class="popup_message-text">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {{ form.new_password1|attr:"placeholder:Придумайте новый пароль"|add_class:"input-field"|add_class:"reset-pass-confirm-new-pass-input" }}
                        {% endif %}
                        {{ form.new_password2|attr:"placeholder:Введите пароль ещё раз"|add_class:"input-field"|add_class:"reset-pass-confirm-new-pass-input" }}
                    </div>
                    <div class="reset-pass-btn reset-pass-confirm-btn">
                        {#                        <a href="{% url 'main:login' %}" class="reset-pass-back-home-page">Отменить изменение пароля</a>#}
                        <button class="button-red reset-pass-confirm-next" type="submit" disabled>Готово</button>
                    </div>
                </div>
            </form>
        </div>

    {% else %}


    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/reset_pass_confirm.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/reset_pass.css' %}">
{% endblock %}