{% extends 'main/wrapper.html' %}
{% load static %}
{% block content %}

    <div class="row flex-center">
        <div class="col-md-8 rounded-block d-flex flex-column reset-pass-block">
            <h1 class="reset-pass-success-title text-center">Восстановление пароля</h1>
            <div class="reset-pass-success-subtitle">
                <p class="reset-pass-success-subtitle-part">Мы отправили Вам письмо с инструкциями для настройки
                    пароля на указанный электронный адрес. Вы получите его в&nbsp;скором времени.</p>
                <p class="reset-pass-success-subtitle-part">Если вы не получили письмо, убедитесь,
                    что вы ввели правильный адрес электронной почты и проверьте папку “Спам”.</p>
            </div>
            <a class="reset-pass-repeat-letter text-center">Отправить письмо ещё раз (доступно через <span class="reset-pass-timer">5</span> с.)</a>

            <div class="reset-pass-btn">
                <a href="{% url 'main:login' %}" class="reset-pass-back-home-page">Назад на главную</a>
                <a href="{% url 'main:password_reset' %}" class="btn btn-primary reset-pass-back">Назад</a>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/reset_pass.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/reset_pass.css' %}">
{% endblock %}