{% extends "main/wrapper.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Ответ на вопрос опроса</h1>

            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="answer">Логин</label>
                        <input class="form-control" aria-describedby="usernameHelp" placeholder="Введите ответ на вопрос"
                               type="text"
                               name="answer" value="" id="answer">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}