{% extends 'main/profile.html' %}

{% load static %}

{#{% load widget_tweaks %}#}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' %}
{% endblock %}

{% block profile-content %}

    <div class="row">
        <div class="col-md-2" style="padding-left: 25px;">
            {% block sidebar-nav %}
                {% include 'main/includes/menu.html' with menu_profile="active" only %}
            {% endblock %}

            {% include 'main/includes/profile_footer.html' %}
        </div>

        <div class="col-md-8">
            {% block profile-content %}
                <div class="row">
                    <!-- Профиль пользователя -->
                    <div class="col-md-3" style="padding-right: 25px">
                        <!-- Аватар и кнопки -->
                        <div class="row">
                            <!-- Аватар -->
                            <div class="col-12 rounded-block"
                                 style="margin-bottom: 10px">
                                {% if photo %}
                                    <div style="position: relative; width:177px; height:{{ photo_height }}px;
                                            border: 1px solid #9f9f9f">
                                        <img style="position: absolute; left:50%; top:50%;
                                        transform: translate(-50%, -50%); max-width:100%;max-height: 100%;"
                                             src="{{ photo.url }}">
                                    </div>
                                {% else %}
                                    <div style="position: relative; width:177px; height:220px">
                                        <img style="position: absolute; left:50%; top:50%;
                                        transform: translate(-50%, -50%); max-width:100%;max-height: 100%;"
                                             src="{% static 'main/images/none_photo.png' %}">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- Кнопки -->
                            <div class="col-12 rounded-block">
                                <h3>Конопочки</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <!-- Информация и оценка -->
                        <div class="row">
                            <!-- Инфо -->
                            <div class="col-12 rounded-block"
                                 style="margin-bottom: 10px; height: auto">
                                <h3>{{ surname }} {{ name }} {{ patronymic }}</h3>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>
                                            <b>Компания</b> {{ company }}
                                        </p>
                                        <p>
                                            <b>Платформа</b> {{ platform }}
                                        </p>
                                        <p>
                                            <b>Должность</b> {{ position }}
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <b>Город</b> {{ city }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Рейтинг -->
                            <div class="col-12 rounded-block"
                                 style="margin-bottom: 10px; height: 100px">
                                <h3>Рейтинг</h3>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>

{% endblock %}