{% extends 'main/wrapper.html' %}

{% block content-user %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 rounded-block">
            <h1 style="text-align: center">Опрос</h1>
            <hr>
            <div class="alert">
                <div class="form-group">
                    <textarea class="form-control" name="answer-0"
                              id="text-0"
                              placeholder="Введите свой ответ (до 500 символов)" rows="5" style="resize: none"
                              maxlength="500" oninput="getCounterSymbols('text-0', 'counterForText-0')"></textarea>
                    <span>Осталось <span id="counterForText-0">500</span> символов из 500</span>
                </div>
                <b>Описание:</b> {{ about_poll }}
            </div>
            <hr>
            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    {% for question in questions %}
                        <div class="form-group" id="questionContent-{{ question.id }}" style="margin-bottom: 20px">
                            <label {% if question.type == "text" %}for="text-{{ question.id }}"{% endif %}
                                   style="font-weight: bold">
                                {{ question.id }}. {{ question.text }}</label>
                            {% if question.type == "checkbox" %}
                                <div class="form-check">
                                    {% for answer in question.answers %}
                                        <input class="form-check-input" type="checkbox" name="answer-{{ question.id }}"
                                               value="option-{{ answer.id }}"
                                               id="checkbox-{{ question.id }}-{{ answer.id }}">
                                        <label class="form-check-label"
                                               for="checkbox-{{ question.id }}-{{ answer.id }}">{{ answer.value }}</label>
                                        <br>
                                    {% endfor %}
                                </div>
                            {% elif question.type == "radio" %}
                                <div class="form-check">
                                    {% for answer in question.answers %}
                                        <input class="form-check-input" type="radio" name="answer-{{ question.id }}"
                                               value="option-{{ answer.id }}"
                                               id="radio-{{ question.id }}-{{ answer.id }}"
                                               {% if answer.id == 1 %}checked{% endif %}>
                                        <label class="form-check-label"
                                               for="radio-{{ question.id }}-{{ answer.id }}">{{ answer.value }}</label>
                                        <br>
                                    {% endfor %}
                                </div>
                            {% elif question.type == "range" %}
                                <div class="">
                                    <input type="range" step="{{ answer.step }}" min="{{ answer.min }}"
                                           max="{{ answer.max }}" name="answer-{{ question.id }}"
                                           id="range-{{ question.id }}" value="{{ answer.min }}"
                                           oninput="updateTextForRange('range-{{ question.id }}', 'textForRange-{{ question.id }}')">
                                    <br>
                                    <span>Текущее заничение: <span id="textForRange-0"></span></span>
                                </div>
                            {% elif question.type == "text" %}
                                <div class="form-group">
                                    <textarea class="form-control" name="answer-{{ question.id }}"
                                              id="text-{{ question.id }}"
                                              placeholder="Введите свой ответ (до 500 символов)" rows="5"
                                              style="resize: none"
                                              maxlength="500"
                                              oninput="getCounterSymbols('text-{{ question.id }}', 'counterForText-{{ question.id }}')"></textarea>
                                    <span>Осталось <span id="counterForText-0">500</span> символов из 500</span>
                                </div>
                            {% else %}
                                <div class="">
                                    <label style="color: #959092">Что-то пошло не так :-(</label>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <hr>
                    <div style="text-align: right">
                        <input type="submit" class="btn btn-primary" value="Завершить">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}