{% extends "main/wrapper.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Добавление к группе</h1>

            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="key">Логин</label>
                        <input class="form-control" aria-describedby="usernameHelp" placeholder="Введите ключ"
                               type="text"
                               name="key" value="" id="key">
                        <!--small id="usernameHelp" class="form-text text-muted">Придумайте логин для входа.</small-->
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}