{% extends "main/profile.html" %}

{% load static %}

{% load widget_tweaks %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_settings="active" only %}
{% endblock %}

{% block profile-content %}

    <div class="row">
        <div class="col-md-3" style="padding-right: 25px">
            <div class="row">
                <!-- Аватар -->
                <div class="col-12 rounded-block"
                     style="margin-bottom: 10px; height: 250px">
{#                    <h3>Аватарка</h3>#}
                    <div>
                        {% if photo %}
                            <p><img height="215px" src="{{ photo }}"></p>
                        {% else %}
                            <p><img height="215px" src="{% static 'main/images/none_photo.png' %}"></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Кнопки -->
                <div class="col-12 rounded-block">
                    <p>
                        <a href="{% url 'main:upload_photo' %}">Загрузить фото</a>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 rounded-block">
            <h1 style="text-align: center">Редактирование профиля</h1>

            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ profile_form.name.id_for_label }}">Имя</label>
                        {{ profile_form.name|attr:"placeholder:Ваше имя"|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ profile_form.surname.id_for_label }}">Фамилия</label>
                        {{ profile_form.surname|attr:"placeholder:Ваша фамилия"|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ profile_form.patronymic.id_for_label }}">Отчество</label>
                        {{ profile_form.patronymic|attr:"placeholder:Ваше отчество"|add_class:"form-control" }}
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="{{ profile_form.city.id_for_label }}">Город</label>
                        {{ profile_form.city|attr:"placeholder:Ваш город"|add_class:"form-control" }}
                    </div>
                    <hr>
                    <div style="text-align: right">
                        <input class="btn btn-primary" type="submit" value="Сохранить изменения"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}

{% block right-sidebar-nav %}
{% endblock %}