<div class="navbar-light position-fixed">
    <ul class="navbar-nav flex-column">
        <li class="{{ menu_profile }} sidebar-user-item">
            <a class="nav-link" href="{% url 'main:user' %}" style="">Профиль</a>
        </li>
        <li class="{{ menu_notifications }} sidebar-user-item">
            <a class="nav-link" href="#">Уведомления</a>
        </li>
        <li class="{{ menu_communications }} sidebar-user-item">
            <a class="nav-link" href="{% url 'main:groups' %}">Круги общения</a>
        </li>
        <li class="{{ menu_settings }} sidebar-user-item">
            <a class="nav-link" href="{% url 'main:edit' %}">Настройки</a>
        </li>
    </ul>
</div>