{% extends "main/wrapper.html" %}
{% load static %}
{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_notifications="active" only %}
{% endblock %}

{% block content-user %}

    <div class="row">
        <div class="col-md-12">

            {% if dates is not None %}

                <div class="notifications">
                    {% for date in dates %}
                        <div class="notifications-date">
                            <div class="notifications-date-block text-center">
                                <p class="notifications-date-value">date.value</p>
                            </div>
                            <div class="notifications-date-notifications">
                                {% for notification in date.notifications %}
                                    <div class="notification rounded-block">
                                        <div class="notification-icon">
                                            {% if notification.type == 'newPoll' %}
                                                <img src="../../static/main/images/newPoll.svg" alt="новый опрос"
                                                     class="notification-icon-img">
                                            {% elif notification.type == 'pollDone' %}
                                                <img src="../../static/main/images/pollDone.svg" alt="результаты опроса"
                                                     class="notification-icon-img">
                                            {% elif notification.type == 'inviteTeam' %}
                                                <img src="../../static/main/images/inviteTeam.svg"
                                                     alt="Приглашение в команду"
                                                     class="notification-icon-img">
                                            {% elif notification.type == 'inviteCompany' %}
                                                <img src="../../static/main/images/inviteCompany.svg"
                                                     alt="Приглашение в компанию" class="notification-icon-img">
                                            {% endif %}
                                        </div>
                                        <div class="notification-text {% if not notification.text.details and not notifications.text.about %} notification-text-only-title {% endif %}">
                                            <div class="notification-title">{{ notification.text.title }}</div>
                                            {% if notification.text.details %}
                                                <div class="notification-details">
                                                    {{ notification.text.details.title }}: <a
                                                        href="{{ notification.text.details.redirect }}">{{ notification.text.details.subtitle }}</a>
                                                </div>
                                            {% endif %}
                                            {% if notifications.text.about %}
                                                <div class="notification-about">
                                                    {{ notifications.text.about }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <!-- /.notification-text -->
                                        <div class="notification-buttons">
                                            <button class="notification-button-cross">
                                                <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                                     class="notification-button-cross-img">
                                            </button>
                                            <a href="{{ notification.visit.url }}"
                                               class="notification-button btn btn-primary">{{ notification.visit.text }}</a>
                                        </div>
                                    </div>
                                    <!-- /.notification -->
                                {% endfor %}
                            </div>
                            <!-- /.notifications-date-notifications -->
                        </div>
                        <!-- /.notifications-date -->
                    {% endfor %}
                </div>
                <!-- /.notifications -->

            {% else %}

                <div class="notifications">
                    <div class="notifications-date">
                        <div class="notifications-date-block text-center">
                            <p class="notifications-date-value">Сегодня</p>
                        </div>
                        <div class="notifications-date-notifications">
                            <div class="notification rounded-block">
                                <div class="notification-icon">
                                    <img src="../../static/main/images/newPoll.svg" alt="новый опрос"
                                         class="notification-icon-img">
                                </div>
                                <div class="notification-text">
                                    <div class="notification-title">Вам доступен новый опрос “Опрос о чём-то”</div>
                                    <div class="notification-details">Цель опроса: <a href="#">Иванов Иван Иванович</a>
                                    </div>
                                    <div class="notification-about">Здесь можно добавить небольшую часть описания
                                        опроса...
                                    </div>
                                </div>
                                <!-- /.notification-text -->
                                <div class="notification-buttons">
                                    <button class="notification-button-cross">
                                        <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                             class="notification-button-cross-img">
                                    </button>
                                    <a href="#" class="notification-button btn btn-primary">Пройти опрос</a>
                                </div>
                            </div>
                            <!-- /.notification -->
                            <div class="notification rounded-block">
                                <div class="notification-icon">
                                    <img src="../../static/main/images/newPoll.svg" alt="новый опрос"
                                         class="notification-icon-img">
                                </div>
                                <div class="notification-text">
                                    <div class="notification-title">Вам доступен новый опрос “Опрос о чём-то с очень
                                        очень
                                        очень
                                        очень
                                        длинным названием”
                                    </div>
                                    <div class="notification-details">Цель опроса: <a href="#">Иванов Иван Иванович</a>
                                    </div>
                                    <div class="notification-about">Здесь можно добавить небольшую чаможно добавить
                                        небольшую
                                        часть
                                        описаниястьисания опроса, вот до сюда...
                                    </div>
                                </div>
                                <!-- /.notification-text -->
                                <div class="notification-buttons">
                                    <button class="notification-button-cross">
                                        <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                             class="notification-button-cross-img">
                                    </button>
                                    <a href="#" class="notification-button btn btn-primary">Пройти опрос</a>
                                </div>
                            </div>
                            <!-- /.notification -->
                        </div>
                        <!-- /.notifications-date-notifications -->
                    </div>
                    <!-- /.notifications-date -->
                    <div class="notifications-date">
                        <div class="notifications-date-block text-center">
                            <p class="notifications-date-value">14.06.2020</p>
                        </div>
                        <div class="notifications-date-notifications">
                            <div class="notification rounded-block">
                                <div class="notification-icon">
                                    <img src="../../static/main/images/pollDone.svg" alt="результаты опроса"
                                         class="notification-icon-img">
                                </div>
                                <div class="notification-text notification-text-only-title">
                                    <div class="notification-title">Готовы результаты по вашему опросу “Опрос о чём-то с
                                        названием
                                        вот
                                        до...”
                                    </div>
                                    <div class="notification-details"></div>
                                    <div class="notification-about"></div>
                                </div>
                                <!-- /.notification-text -->
                                <div class="notification-buttons">
                                    <button class="notification-button-cross">
                                        <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                             class="notification-button-cross-img">
                                    </button>
                                    <a href="#" class="notification-button btn btn-primary">Смотреть</a>
                                </div>
                            </div>
                            <!-- /.notification -->
                            <div class="notification rounded-block">
                                <div class="notification-icon">
                                    <img src="../../static/main/images/pollDone.svg" alt="результаты опроса"
                                         class="notification-icon-img">
                                </div>
                                <div class="notification-text notification-text-only-title">
                                    <div class="notification-title">Готовы результаты по вашему опросу “Опрос о чём-то с
                                        очень
                                        очень
                                        очень очень очень очень длинным названием”
                                    </div>
                                    <div class="notification-details">Цель опроса: <a href="#">Иванов Иван Иванович</a>
                                    </div>
                                    <div class="notification-about">Здесь можно добавить небольшую частьисания опроса,
                                        вот
                                        до
                                        сюда...
                                    </div>
                                </div>
                                <!-- /.notification-text -->
                                <div class="notification-buttons">
                                    <button class="notification-button-cross">
                                        <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                             class="notification-button-cross-img">
                                    </button>
                                    <a href="#" class="notification-button btn btn-primary">Смотреть</a>
                                </div>
                            </div>
                            <!-- /.notification -->
                            <div class="notification rounded-block">
                                <div class="notification-icon">
                                    <img src="../../static/main/images/inviteTeam.svg" alt="Приглашение в команду"
                                         class="notification-icon-img">
                                </div>
                                <div class="notification-text">
                                    <div class="notification-title"><a href="#">Иванов Иван Иванович</a> пригласил вас в
                                        команду
                                        “Крутая
                                        команда”
                                    </div>
                                    <div class="notification-details">Компания: <a href="#">“ООО Крутая компания”</a>
                                    </div>
                                    <div class="notification-about">Здесь можно добавить небольшую частьисания опроса,
                                        вот
                                        до
                                        сюда...
                                    </div>
                                </div>
                                <!-- /.notification-text -->
                                <div class="notification-buttons">
                                    <button class="notification-button-cross">
                                        <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                             class="notification-button-cross-img">
                                    </button>
                                    <a href="#" class="notification-button btn btn-primary">Вступить</a>
                                </div>
                            </div>
                            <!-- /.notification -->
                        </div>
                        <!-- /.notifications-date-notifications -->
                    </div>
                    <!-- /.notifications-date -->
                    <div class="notifications-date">
                        <div class="notifications-date-block text-center">
                            <p class="notifications-date-value">13.06.2020</p>
                        </div>
                        <div class="notifications-date-notifications">
                            <div class="notification rounded-block">
                                <div class="notification-icon">
                                    <img src="../../static/main/images/inviteTeam.svg" alt="Приглашение в команду"
                                         class="notification-icon-img">
                                </div>
                                <div class="notification-text">
                                    <div class="notification-title"><a href="#">Иванов Иван Иванович</a> пригласил вас в
                                        команду
                                        “Крутая
                                        команда без компании”
                                    </div>
                                    <div class="notification-details">Цель опроса: <a href="#">Иванов Иван Иванович</a>
                                    </div>
                                    <div class="notification-about">Здесь можно добавить небольшую частьисания опроса,
                                        вот
                                        до
                                        сюда...
                                    </div>
                                </div>
                                <!-- /.notification-text -->
                                <div class="notification-buttons">
                                    <button class="notification-button-cross">
                                        <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                             class="notification-button-cross-img">
                                    </button>
                                    <a href="#" class="notification-button btn btn-primary">Вступить</a>
                                </div>
                            </div>
                            <!-- /.notification -->
                            <div class="notification rounded-block">
                                <div class="notification-icon">
                                    <img src="../../static/main/images/inviteTeam.svg" alt="Приглашение в команду"
                                         class="notification-icon-img">
                                </div>
                                <div class="notification-text">
                                    <div class="notification-title"><a href="#">Иванов Иван Иванович</a> пригласил вас в
                                        команду
                                        “Крутая
                                        команда с длинным названием”
                                    </div>
                                    <div class="notification-details">Компания: <a href="#">“ООО Крутая компания”</a>
                                    </div>
                                    <div class="notification-about">Здесь можно добавить небольшую частьисания опроса,
                                        вот
                                        до
                                        сюда...
                                    </div>
                                </div>
                                <!-- /.notification-text -->
                                <div class="notification-buttons">
                                    <button class="notification-button-cross">
                                        <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                             class="notification-button-cross-img">
                                    </button>
                                    <a href="#" class="notification-button btn btn-primary">Вступить</a>
                                </div>
                            </div>
                            <!-- /.notification -->
                            <div class="notification rounded-block">
                                <div class="notification-icon">
                                    <img src="../../static/main/images/inviteCompany.svg" alt="Приглашение в компанию"
                                         class="notification-icon-img">
                                </div>
                                <div class="notification-text">
                                    <div class="notification-title"><a href="#">Иванов Иван Иванович</a> пригласил вас в
                                        компанию
                                        “ООО
                                        Крутая компания”
                                    </div>
                                    <div class="notification-details">Компания: <a href="#">“ООО Крутая компания”</a>
                                    </div>
                                    <div class="notification-about">Здесь можно добавить небольшую частьисания опроса,
                                        вот
                                        до
                                        сюда...
                                    </div>
                                </div>
                                <!-- /.notification-text -->
                                <div class="notification-buttons">
                                    <button class="notification-button-cross">
                                        <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                             class="notification-button-cross-img">
                                    </button>
                                    <a href="#" class="notification-button btn btn-primary">Вступить</a>
                                </div>
                            </div>
                            <!-- /.notification -->
                            <div class="notification rounded-block">
                                <div class="notification-icon">
                                    <img src="../../static/main/images/inviteCompany.svg" alt="Приглашение в компанию"
                                         class="notification-icon-img">
                                </div>
                                <div class="notification-text">
                                    <div class="notification-title"><a href="#">Иванов Иван Иванович</a> пригласил вас в
                                        компанию “ООО Крутая компания с длинным названием”
                                    </div>
                                    <div class="notification-details">Цель опроса: <a href="#">Иванов Иван Иванович</a>
                                    </div>
                                    <div class="notification-about">Здесь можно добавить небольшую частьисания опроса,
                                        вот
                                        до
                                        сюда...
                                    </div>
                                </div>
                                <!-- /.notification-text -->
                                <div class="notification-buttons">
                                    <button class="notification-button-cross">
                                        <img src="../../static/main/images/cross.svg" alt="закрыть уведомление"
                                             class="notification-button-cross-img">
                                    </button>
                                    <a href="#" class="notification-button btn btn-primary">Вступить</a>
                                </div>
                            </div>
                            <!-- /.notification -->
                        </div>
                        <!-- /.notifications-date-notifications -->
                    </div>
                    <!-- /.notifications-date -->
                </div>
                <!-- /.notifications -->
            {% endif %}

            {#            <div class="nothing"></div>#}
            {#            <!-- /.nothing -->#}
        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.row -->

    {#    <div class="row">#}
    {#        <div class="col-md-3"></div>#}
    {#        <div class="col-md-6">#}
    {#            <h1>Уведомения</h1>#}
    {#            <div>#}
    {#                <form method="post" action="">#}
    {#                    {% csrf_token %}#}
    {##}
    {#                    <div class="col-12 rounded-block"#}
    {#                         style="height: 100px; margin-bottom: 10px">#}
    {#                        <p>#}
    {#                            {% for notification in notifications %}#}
    {#                                {% if notification.key %}#}
    {#                                    <a href="{% url notification.redirect notification.key %}">{{ notification.text }}</a>#}
    {#                                {% else %}#}
    {#                                    <a href="{% url notification.redirect %}">{{ notification.text }}</a>#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        </p>#}
    {#                    </div>#}
    {#                </form>#}
    {#            </div>#}
    {#        </div>#}
    {#        <div class="col-md-3"></div>#}
    {#    </div>#}

{% endblock %}

{% block sidebar-nav-right %}
    {% include 'main/includes/menu_notifications_right.html' with menu_notifications_all='active' only %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'main/css/scroll_top.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/notifications.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'main/js/notifications.js' %}"></script>
    <script src="{% static 'main/js/scroll_top.js' %}"></script>
{% endblock %}