{% extends 'main/wrapper.html' %}

{% load static %}

{% load widget_tweaks %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' with menu_profile="active" only %}
{% endblock %}

{% block content-user %}
    <div class="row">
        <div class="col-md-3" style="padding-right: 25px">
            <div class="row">
                <!-- Аватар -->
                <div class="col-12 rounded-block"
                     style="margin-bottom: 10px">
                    {% if photo %}
                        <div style="position: relative; width:177px; height:{{ photo_height }}px;
                                border: 1px solid #9f9f9f">
                            <img style="position: absolute; left:50%; top:50%;
                                            transform: translate(-50%, -50%); max-width:100%;max-height: 100%;"
                                 src="{{ photo.url }}">
                        </div>
                    {% else %}
                        <div style="position: relative; width:177px; height:220px">
                            <img style="position: absolute; left:50%; top:50%;
                                            transform: translate(-50%, -50%); max-width:100%;max-height: 100%;"
                                 src="{% static 'main/images/none_photo.png' %}">
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <!-- Кнопки -->
                <div class="col-12 rounded-block">
                    <h3>Конопочки</h3>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <!-- Инфо -->
                <div class="col-12 rounded-block"
                     style="margin-bottom: 10px; height: auto">
                    <h3>{{ profile.surname }} {{ profile.name }} {{ profile.patronymic }}</h3>
                    <hr>
                    <p>
                        <b>Город</b> {{ profile.city }}
                    </p>
                </div>
            </div>
            <div class="row">
                <!-- Рейтинг -->
                <div class="col-12 rounded-block"
                     style="margin-bottom: 10px; height: auto">
                    <h3>Рейтинг????</h3>
                </div>
            </div>
            {#            <div class="row">#}
            {#                <!-- Последние оценки -->#}
            {#                <div class="col-12 rounded-block"#}
            {#                     style="height: 100px; margin-bottom: 10px">#}
            {#                    <b>Последние оценки</b>#}
            {#                </div>#}
            {#            </div>#}
        </div>
    </div>
{% endblock %}

{% block sidebar-nav-right %}
    <h3 style="color: #b21f2d">Для отладки</h3>
    <div>
        <a class="btn btn-success" href="{% url 'main:questions_search' %}">Поиск вопросов</a>
        <hr>
        <a class="btn btn-success" href="{% url 'main:search_profile' %}">Поиск профилей</a>
        <hr>
        <a class="btn btn-success" href="{% url 'main:search_admins_and_redirect_to_add_method' %}">Добавление
            админов</a>
        <hr>
        <a class="btn btn-success" href="{% url 'main:search_hr_and_redirect_to_add_method' %}">Добавление HR</a>
        <hr>
        <a class="btn btn-success" href="{% url 'main:choose_type_poll' %}">Пробный вид опросника</a>
        <hr>
        <a class="btn btn-success" href="{% url 'main:answer_the_poll' 9 %}">Прохождение опроса</a>
        <hr>
        <label style="color: #7c0016">Нужно реализовать страницы (не срочно)</label>
        <a class="btn btn-success" href="{% url 'main:result_poll' 9 %}">Результаты опроса</a>
    </div>
{% endblock %}


{#{% block content %}#}
{##}
{#    <div class="row">#}
{#        <div class="col-md-2 col-xl-2" style="padding-left: 25px;">#}
{#            {% block sidebar-nav %}#}
{#                {% include 'main/includes/menu.html' with menu_profile="active" only %}#}
{#            {% endblock %}#}
{##}
{#            {% include 'main/includes/profile_footer.html' %}#}
{#        </div>#}
{##}
{#        <div class="col-md-8 col-xl-8">#}
{#            {% block profile-content %}#}
{#                <div class="row">#}
{#                    <!-- Профиль пользователя -->#}
{#                    <div class="col-md-3" style="padding-right: 25px">#}
{#                        <!-- Аватар и кнопки -->#}
{#                        <div class="row">#}
{#                            <!-- Аватар -->#}
{#                            <div class="col-12 rounded-block"#}
{#                                 style="margin-bottom: 10px">#}
{#                                {% if photo %}#}
{#                                    <div style="position: relative; width:177px; height:{{ photo_height }}px;#}
{#                                            border: 1px solid #9f9f9f">#}
{#                                        <img style="position: absolute; left:50%; top:50%;#}
{#                                        transform: translate(-50%, -50%); max-width:100%;max-height: 100%;"#}
{#                                             src="{{ photo.url }}">#}
{#                                    </div>#}
{#                                {% else %}#}
{#                                    <div style="position: relative; width:177px; height:220px">#}
{#                                        <img style="position: absolute; left:50%; top:50%;#}
{#                                        transform: translate(-50%, -50%); max-width:100%;max-height: 100%;"#}
{#                                             src="{% static 'main/images/none_photo.png' %}">#}
{#                                    </div>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <!-- Кнопки -->#}
{#                            <div class="col-12 rounded-block">#}
{#                                <h3>Конопочки</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-9">#}
{#                        <!-- Информация и оценка -->#}
{#                        <div class="row">#}
{#                            <!-- Инфо -->#}
{#                            <div class="col-12 rounded-block"#}
{#                                 style="margin-bottom: 10px; height: auto">#}
{#                                <h3>{{ profile.surname }} {{ profile.name }} {{ profile.patronymic }}</h3>#}
{#                                <hr>#}
{#                                <p>#}
{#                                    <b>Город</b> {{ profile.city }}#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <!-- Рейтинг -->#}
{#                            <div class="col-12 rounded-block"#}
{#                                 style="margin-bottom: 10px; height: 100px">#}
{#                                <h3>Рейтинг</h3>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="row">#}
{#                            <!-- Последние оценки -->#}
{#                            <div class="col-12 rounded-block"#}
{#                                 style="height: 100px; margin-bottom: 10px">#}
{#                                <b>Последние оценки</b>#}
{#                            </div>#}
{#                            <div class="col-12 rounded-block"#}
{#                                 style="height: 100px; margin-bottom: 10px">#}
{#                                <b>Последние оценки</b>#}
{#                            </div>#}
{#                            <div class="col-12 rounded-block"#}
{#                                 style="height: 100px; margin-bottom: 10px">#}
{#                                <b>Последние оценки</b>#}
{#                            </div>#}
{#                            <div class="col-12 rounded-block"#}
{#                                 style="height: 100px; margin-bottom: 10px">#}
{#                                <b>Последние оценки</b>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endblock %}#}
{#        </div>#}
{#        <div class="col-md-2 col-xl-2" style="padding-right: 25px;">#}
{#            {% block right-sidebar-nav %}#}
{#                <h3 style="color: #b21f2d">Для отладки</h3>#}
{#                <div><a class="btn btn-success" href="{% url 'main:questions_search' %}">Поиск вопросов</a></div>#}
{#            {% endblock %}#}
{#        </div>#}
{#    </div>#}
{##}
{#{% endblock %}#}
{##}
{#{% block footer %}#}
{#{% endblock %}#}