{% extends 'main/wrapper.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}

    <div class="row">
        <div class="col-md-2" style="padding-left: 25px;">
            {% block sidebar-nav %}
                {% include 'main/includes/menu.html' with menu_profile="active" only %}
            {% endblock %}
        </div>

        <div class="col-md-8">
            {% block profile-content %}
                <div class="row">
                    <!-- Профиль пользователя -->
                    <div class="col-md-3" style="padding-right: 25px">
                        <!-- Аватар и кнопки -->
                        <div class="row">
                            <!-- Аватар -->
                            <div class="col-12 rounded-block"
                                 style="margin-bottom: 10px; height: 250px">
                                <h3>Аватарка</h3>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Кнопки -->
                            <div class="col-12 rounded-block">
                                <h3>Конопочки</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <!-- Информация и оценка -->
                        <div class="row">
                            <!-- Инфо -->
                            <div class="col-12 rounded-block"
                                 style="margin-bottom: 10px; height: 200px">
                                <h3>{{ profile.surname }} {{ profile.name }} {{ profile.patronymic }}</h3>
                                <hr>
                                <p>
                                    <b>Город</b> {{ profile.city }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Рейтинг -->
                            <div class="col-12 rounded-block"
                                 style="margin-bottom: 10px; height: 100px">
                                <h3>Рейтинг</h3>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Последние оценки -->
                            <div class="col-12 rounded-block"
                                 style="height: 100px; margin-bottom: 10px">
                                <b>Последние оценки</b>
                            </div>
                            <div class="col-12 rounded-block"
                                 style="height: 100px; margin-bottom: 10px">
                                <b>Последние оценки</b>
                            </div>
                            <div class="col-12 rounded-block"
                                 style="height: 100px; margin-bottom: 10px">
                                <b>Последние оценки</b>
                            </div>
                            <div class="col-12 rounded-block"
                                 style="height: 100px; margin-bottom: 10px">
                                <b>Последние оценки</b>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="col-md-2">
            {% block right-sidebar-nav %}
            {% endblock %}
        </div>
    </div>

{% endblock %}