{% extends 'main/wrapper.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>Поиск вопроса</h1>
            <div>
                <h4 style="color: #b21f2d">Если есть ошибки : {{ error }}</h4>
            </div>
            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="question">Ваш вопрос</label>
                        <div class="row">
                            <div class="col-md-10">
                                <input class="form-control" type="text" id="question" name="question"
                                       placeholder="Введите вопрос">
                            </div>
                            <div class="col-md-2">
                                <input class="btn btn-primary" type="submit" value="Поиск">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div>
                <h5>Результаты поиска</h5>
                <ul>
                    {% for e in questions %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}