{% extends "main/wrapper.html" %}

{% block nav-items %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'main:login' %}">Вход</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'main:register' %}">Регистрация</a>
    </li>
{% endblock %}

{% load widget_tweaks %}

{% block content %}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 rounded-block">
            <h1 style="text-align: center">Регистрация</h1>

            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ user_form.username.id_for_label }}">Логин</label>
                        {{ user_form.username|attr:"placeholder:Придумайте логин"|add_class:"form-control" }}
                        {% if user_form.username.errors %}
                            {% for error in user_form.username.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <b>{{ error }}</b>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ user_form.password1.id_for_label }}">Пароль</label>
                        {{ user_form.password1|attr:"placeholder:Придумайте пароль"|add_class:"form-control" }}
                        {% if user_form.password1.errors %}
                            {% for error in user_form.password1.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <b>{{ error }}</b>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ user_form.password2.id_for_label }}">Повторите пароль</label>
                        {{ user_form.password2|attr:"placeholder:Повторите пароль"|add_class:"form-control" }}
                        {% if user_form.password2.errors %}
                            {% for error in user_form.password2.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <b>{{ error }}</b>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="{{ profile_form.name.id_for_label }}">Имя</label>
                        {{ profile_form.name|attr:"placeholder:Ваше имя"|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ profile_form.surname.id_for_label }}">Фамилия</label>
                        {{ profile_form.surname|attr:"placeholder:Ваша фамилия"|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ profile_form.patronymic.id_for_label }}">Отчество</label>
                        {{ profile_form.patronymic|attr:"placeholder:Ваше отчество"|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                        <label for="{{ profile_form.city.id_for_label }}">Город</label>
                        {{ profile_form.city|attr:"placeholder:Ваш город"|add_class:"form-control" }}
                    </div>
                    <hr>
                    <div style="text-align: right">
                        <input class="btn btn-primary" type="submit" value="Зарегистрировать"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}