{% extends "main/wrapper.html" %}

{% block content-user %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>{{ title }}</h1>
            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <b>{{ error }}</b>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input class="form-control" placeholder="Имя пользователя" type="text"
                               name="name" value="{{ name }}" id="name">
                    </div>

                    <div class="form-group">
                        <label for="surname">Фамилия</label>
                        <input class="form-control" placeholder="Фамилия пользователя" type="text"
                               name="surname" value="{{ surname }}" id="surname">
                    </div>

                    <div class="form-group">
                        <label for="patronymic">Отчество</label>
                        <input class="form-control" placeholder="Отчество пользователя" type="text"
                               name="patronymic" value="{{ patronymic }}" id="patronymic">
                    </div>

                    <div class="form-group">
                        <label for="position">Позиция в компании</label>
                        <input class="form-control" placeholder="Позиция" type="text"
                               name="position" value="{{ position }}" id="position">
                    </div>

                    <div class="form-group">
                        <label for="platform">Платформа в компании</label>
                        <input class="form-control" placeholder="Платформа" type="text"
                               name="platform" value="{{ platform }}" id="platform">
                    </div>

                    <div style="text-align: right">
                        <input class="btn btn-primary" type="submit" value="Найти"/>
                    </div>

                    <div class="col-12 rounded-block"
                         style="height: 100px; margin-bottom: 10px">
                        <h4>Пользователи</h4>
                        {% if poll_id %}
                            {% if group_id %}
                                <p>
                                    {% for profile in profiles %}
                                        <a href="{% url redirect profile.pk poll_id group_id %}">{{ profile.surname }} {{ profile.name }} {{ profile.patronymic }}</a>
                                    {% endfor %}
                                </p>
                            {% else %}
                                <p>
                                    {% for profile in profiles %}
                                        <a href="{% url redirect profile.pk poll_id %}">{{ profile.surname }} {{ profile.name }} {{ profile.patronymic }}</a>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        {% else %}
                            <p>
                                {% for profile in profiles %}
                                    <a href="{% url redirect profile.pk %}">{{ profile.surname }} {{ profile.name }} {{ profile.patronymic }}</a>
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}