{% extends "main/wrapper.html" %}

{% block content-user %}

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Поиск профиля</h1>

            <div>
                <form method="post" action="">
                    {% csrf_token %}
                        <h3 style="color: #b21f2d">Выберите тип опроса</h3>
                            <div>
                                <a class="btn btn-success" href="{% url 'main:list_default_poll' %}">Базовые опросы</a>
                                <hr>
                                <a class="btn btn-success">Опросы от компании</a>
                            </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}