{% extends 'main/wrapper.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-2">
        Left
        </div>
        <div class="col-md-8" style="background-color: #7abaff">
         <div class="row" style="padding-top: 2%">
              <!-- Профиль пользователя -->
             <div class="col-md-4" style="background-color: blanchedalmond">
                 <!-- Аватар и кнопки -->
                 <div class="row">
                      <!-- Аватар -->
                     <div class="col-12" style="background-color: #9fcdff">
                         Аватарка
                     </div>
                 </div>
                 <div class="row">
                     <!-- Кнопки -->
                     <div class="col-12">
                         Конопочки
                     </div>
                 </div>
             </div>
             <div class="col-md-8" style="background-color: #8fd19e">
                 <!-- Информация и оценка -->
                 <div class="row">
                      <!-- Инфо -->
                     <div class="col-12">
                         Инфо
                     </div>
                 </div>
                 <div class="row">
                     <!-- Рейтинг -->
                     <div class="col-12" style="background-color: #b9bbbe">
                         Рейтинг
                     </div>
                 </div>
                 <div class="row">
                     <!-- Последние оценки -->
                     <div class="col-12" style="background-color: #b1dfbb">
                         Последние оценки
                     </div>
                 </div>
             </div>
         </div>
        </div>
        <div class="col-md-2">
        Right
        </div>
    </div>
    
{% endblock %}