{% extends 'main/wrapper.html' %}

{#{% block nav-items %}#}
{#    <!li class="nav-item, active">#}
{#        <a class="nav-link" href="{% url 'main:user' %}">Виталий Петрович</a>#}
{#    </li>#}
{#    <li class="nav-item">#}
{#        <a class="nav-link" href="#">Выйти</a>#}
{#    </li>#}
{#{% endblock %}#}


{% block content %}

    <div class="row">
        <div class="col-md-2" style="padding-top: 2%; padding-left: 3%;">
                        <div class="navbar-light">
                <ul class="navbar-nav flex-column">
                    {% block sidebar-nav-items %}
                    <li class="nav-item, active">
                        <a class="nav-link" href="{% url 'main:user' %}">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Уведомления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:groups' %}">Группы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Настройки</a>
                    </li>
                    {% endblock %}
                </ul>
            </div>
        </div>

        {% block small-content %}
        <div class="col-md-8" style="background-color: #7abaff">
            <div class="row" style="padding-top: 2%">
              <!-- Профиль пользователя -->
             <div class="col-md-4" style="background-color: blanchedalmond">
                 <!-- Аватар и кнопки -->
                 <div class="row">
                      <!-- Аватар -->
                     <div class="col-12" style="background-color: #9fcdff">
                         Аватарка
                     </div>
                 </div>
                 <div class="row">
                     <!-- Кнопки -->
                     <div class="col-12">
                         Конопочки
                     </div>
                 </div>
             </div>
             <div class="col-md-8" style="background-color: #8fd19e">
                 <!-- Информация и оценка -->
                 <div class="row">
                      <!-- Инфо -->
                     <div class="col-12">
                         Инфо
                         <p>
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                         </p>
                     </div>
                 </div>
                 <div class="row">
                     <!-- Рейтинг -->
                     <div class="col-12" style="background-color: #b9bbbe">
                         Рейтинг
                     </div>
                 </div>
                 <div class="row">
                     <!-- Последние оценки -->
                     <div class="col-12" style="background-color: #b1dfbb">
                         Последние оценки
                     </div>
                 </div>
             </div>
         </div>
        </div>
        <div class="col-md-2">
        Right
        </div>
        {% endblock %}
    </div>

{% endblock %}