<!DOCTYPE HTML>
<html lang="ru">
<head>
    <!-- Подключаемые файлы, метатеги, название страницы -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/preloader.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    {#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">#}
    {#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">#}
    <link rel="stylesheet" href="{% static 'main/css/libraries/snackbar.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'main/css/awesome/css/all.css' %}">#}
    <link rel="stylesheet" href="{% static 'main/scss/custom.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'main/css/custom.css' %}">#}
    {% block css %}
    {% endblock css %}


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Кодировка страницы-->
    <meta charset="utf-8"/>

    {% if title %}
        <title>{{ title }} - Проект360</title>
    {% else %}
        <title>Проект360</title>
    {% endif %}

</head>
<body>

<div class="preloader">
    <div class="loader"></div>
    <!-- /.loader -->
</div>
<!-- /.preloader -->

<!-- Тело сайта, отвечает за вывод на страницу-->

<header class="header__container unselectable">
    <div class="header__content">
        <a href="{% url 'main:login' %}" class="header__link">
            <img src="{% static 'main/images/newLogo.svg' %}" alt="logo" class="header__logo">
        </a>
        {% block header-nav %}
            {% include 'main/includes/header_nav.html' %}
        {% endblock %}
    </div>
</header>

{#<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar fixed-top animated-back"#}
{#        style="padding: 8px 0; height: 57px">#}
{#    <div class="container" style="max-width: 1366px;">#}
{#        <a class="navbar-brand logo" style="margin-left: 25px" id="logo" href="{% url 'main:login' %}">#}
{#            <img src="{% static 'main/images/logo.svg' %}" alt="logo" width="120px" height="30px" class="logo-img">#}
{#        </a>#}
{#        {% block header-nav %}#}
{#            {% include 'main/includes/header_nav.html' %}#}
{#        {% endblock %}#}
{#    </div>#}
{#</header>#}


<div class="container-main">
    {% if user.is_authenticated and not global_error %}
        <div class="col-left">
            {% block sidebar-nav %}
                {% include 'main/includes/menu.html' %}
            {% endblock sidebar-nav %}
            {% block sidebar-footer %}
                {#                {% include 'main/includes/profile_footer.html' %}#}
            {% endblock %}
        </div>
        <div class="col-center">
            {% block content-user %}
            {% endblock content-user %}
        </div>
        <div class="col-right">
            {% block sidebar-nav-right %}
            {% endblock sidebar-nav-right %}
        </div>
    {% elif global_error %}
        {% block global_error %}
        {% endblock global_error %}
    {% else %}
        <div class="col-left"></div>
        <div class="col-center">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-right"></div>
    {% endif %}
</div>

{#<div class="container-fluid">#}
{#    {% if user.is_authenticated %}#}
{#        <div class="col-left" style="padding-left: 25px;">#}
{#            {% block sidebar-nav %}#}
{#                {% include 'main/includes/menu.html' %}#}
{#            {% endblock sidebar-nav %}#}
{#            {% block sidebar-footer %}#}
{#                {% include 'main/includes/profile_footer.html' %}#}
{#            {% endblock %}#}
{#        </div>#}
{#        <div class="col-center">#}
{#            {% block content-user %}#}
{#            {% endblock content-user %}#}
{#        </div>#}
{#        <div class="col-right">#}
{#            {% block sidebar-nav-right %}#}
{#            {% endblock sidebar-nav-right %}#}
{#        </div>#}
{#    {% else %}#}
{#        <div class="col-left"></div>#}
{#        <div class="col-center">#}
{#            {% block content %}#}
{#            {% endblock content %}#}
{#        </div>#}
{#        <div class="col-right"></div>#}
{#    {% endif %}#}
{#</div>#}

<div class="scripts">
    <script type="text/javascript" src={% static 'main/js/jquery.com_jquery-3.4.1.js' %}></script>
    <script type="text/javascript" src={% static 'main/js/libraries/snackbar.min.js' %}></script>
    {#    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>#}
    {#    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>#}
    <script type="text/javascript" src={% static 'main/js/custom.min.js' %}></script>
    {% block scripts %}
    {% endblock scripts %}
    <script type="text/javascript" src={% static 'main/js/preloader.min.js' %}></script>
</div>
<!-- /.scripts -->

{#<footer>#}
{#    {% block footer %}#}
{#        {% include 'main/includes/fullsize_footer.html' %}#}
{#    {% endblock %}#}
{#</footer>#}

</body>
</html>