<!DOCTYPE HTML>
<html lang="ru">
<head>
    <!-- Подключаемые файлы, метатеги, название страницы -->

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css'%}">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css'%}">
    {% load static %}
    <script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>



    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Кодировка страницы-->
    <meta charset="utf-8"/>

  <title>Название страницы</title>
</head>
<body>
    <!-- Тело сайта, отвечает за вывод на страницу-->

    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="background-color: #6f42c1">
        <a class="navbar-brand" href="#">
            Проект 360
        </a>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="#">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Группы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Уведомления</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="container-fluid">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
    <!-- Подвал сайта-->
    </footer>
</body>
</html>