{% load static %}

<div class='navbar-nav ml-auto unselectable' style="margin-right: 15px;">
    {% if user.is_authenticated %}
        {% if profile %}
            <div class="head-menu">
                <div class="head-menu-up">
                    <p class="head-menu-name">
                        {{ profile.name }} {{ profile.surname }}
                    </p>
                    <img src="{{ photo.url }}" alt="" class="head-menu-img">
                    <img src="{% static 'main/images/head_item.svg' %}" alt="" class="head-menu-mark">
                </div>
                <div class="head-menu-down">
                    <div class="head-menu-items">
                        <div class="head-menu-item" id="head-menu-company">
                            <div class="head-menu-item-text">
                                {{ profile.company.name }}
                            </div>
                        </div>
                        <div class="head-menu-line"></div>
                        <div class="head-menu-item" id="head-menu-settings">Настройки</div>
                        <div class="head-menu-line"></div>
                        <div class="head-menu-item" id="head-menu-logout">Выйти</div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="head-menu">
                <div class="head-menu-up">
                    <p class="head-menu-name">
                        Лу Ми
                    </p>
                    <img src="{% static 'main/images/photo.svg' %}" alt="" class="head-menu-img">
                    <img src="{% static 'main/images/head_item.svg' %}" alt="" class="head-menu-mark">
                </div>
                <div class="head-menu-down">
                    <div class="head-menu-items">
                        <div class="head-menu-item" id="head-menu-company">
                            <div class="head-menu-item-text">
                                ООО Крутая компания вылаоыйцуйуйцуйцуйцу йцуйцуйц йц
                            </div>
                        </div>
                        <div class="head-menu-line"></div>
                        <div class="head-menu-item" id="head-menu-settings">Настройки</div>
                        <div class="head-menu-line"></div>
                        <div class="head-menu-item" id="head-menu-logout">Выйти</div>
                    </div>
                </div>
            </div>
        {% endif %}
        {#            <li class="nav-item, active header-first-icon"  style="font-weight: bold; font-size: 16px; line-height: 19px;">#}
        {#                <a class="nav-link" href="{% url 'main:login' %}">#}
        {#                    {% if profile %}#}
        {#                        {{ profile.name }} {{ profile.surname }}#}
        {#                    {% else %}#}
        {#                        Мой профиль#}
        {#                    {% endif %}#}
        {#                </a>#}
        {#            </li>#}
        {#            <li class="nav-item"  style="font-weight: bold; font-size: 16px; line-height: 19px;">#}
        {#                <a class="nav-link" id="logout" href="{% url 'main:logout' %}">Выход</a>#}
        {#            </li>#}
    {% else %}
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="{{ nav_login }} nav-item" style="font-weight: bold; font-size: 16px; line-height: 19px;">
                <a class="nav-link header-first-icon" id="login" href="{% url 'main:login' %}">Вход</a>
            </li>
            <li class="{{ nav_register }} nav-item" style="font-weight: bold; font-size: 16px; line-height: 19px;">
                <a class="nav-link" id="register" href="{% url 'main:register' %}">Регистрация</a>
            </li>
        </ul>
    {% endif %}
</div>