{% load static %}

{% if user.is_authenticated and not global_error %}
    {% if profile %}
        <div class="head-menu">
            <div class="head-menu-up">
                <p class="head-menu-name">
                    {{ profile.name }} {{ profile.surname }}
                </p>
                <img src="{{ profile.photo.url }}" alt="" class="head-menu-img">
                <img src="{% static 'main/images/markDown.svg' %}" alt="" class="head-menu-mark">
            </div>
            <div class="head-menu-down">
                <div class="head-menu-items">
                    {% if profile.company.id %}
                        <a href="{% url 'main:company_view' id_company=profile.company.id %}" class="head-menu-item"
                           id="head-menu-company">
                            <div class="head-menu-item-text">
                                {{ profile.company.name }}
                            </div>
                        </a>
                    {% endif %}
                    <div class="head-menu-line"></div>
                    <a href="{% url 'main:edit' %}" class="head-menu-item" id="head-menu-settings">Настройки</a>
                    <div class="head-menu-line"></div>
                    <a href="{% url 'main:logout' %}" class="head-menu-item" id="head-menu-logout">Выйти</a>
                </div>
            </div>
        </div>
        {#    {% else %}#}
        {#        <div class="head-menu">#}
        {#            <div class="head-menu-up">#}
        {#                <p class="head-menu-name">#}
        {#                    Лу Ми#}
        {#                </p>#}
        {#                <img src="{% static 'main/images/photo.svg' %}" alt="" class="head-menu-img">#}
        {#                <img src="{% static 'main/images/markDown.svg' %}" alt="" class="head-menu-mark">#}
        {#            </div>#}
        {#            <div class="head-menu-down">#}
        {#                <div class="head-menu-items">#}
        {#                    <a href="{% url 'main:company_view' id_company=5 %}" class="head-menu-item" id="head-menu-company">#}
        {#                        <div class="head-menu-item-text-block">#}
        {#                            <div class="head-menu-item-text">#}
        {#                                ООО Крутая компания вылаоыйцуйуйцуйцуйцу йцуйцуйц йц#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </a>#}
        {#                    <div class="head-menu-line"></div>#}
        {#                    <a href="{% url 'main:edit' %}" class="head-menu-item" id="head-menu-settings">Настройки</a>#}
        {#                    <div class="head-menu-line"></div>#}
        {#                    <a href="{% url 'main:logout' %}" class="head-menu-item" id="head-menu-logout">Выйти</a>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    {% endif %}
{% elif not global_error %}
    <div class="head-menu-no-login">
        <ul class="menu-no-login">
            <li class="{{ nav_login }} menu-no-login-item">
                <a class="menu-no-login-link" id="login" href="{% url 'main:login' %}">Вход</a>
            </li>
            <li class="{{ nav_register }} menu-no-login-item">
                <a class="menu-no-login-link" id="register" href="{% url 'main:register' %}">Регистрация</a>
            </li>
        </ul>
    </div>
{% endif %}