{% load static %}
{% if not is_boss or is_moderator %}
    <div class="menu-r unselectable">
        <ul class="menu rounded-block">
            <li class="menu__item {{ menu_company }}">
                <a href="{% url 'main:company_view' id_company=5 %}" class="item__link">Компания</a>
            </li>
            <li class="menu__item {{ menu_setting }}">
                <a href="{% url 'main:company_view' id_company=5 %}" class="item__link">Настройки</a>
            </li>
        </ul>
    </div>
{% endif %}