{% load static %}

<div class="menu-r unselectable">
    <ul class="menu rounded-block">
        <li class="menu__item {{ menu_editor }}" data-step="1">
            <a class="item__link">Создание опроса</a>
        </li>
        {% if is_master %}
            <li class="menu__item" data-step="2">
                <a class="item__link">О ком опрос</a>
            </li>
        {% endif %}
        <li class="menu__item" data-step="3">
            <a class="item__link">Опрашиваемые</a>
        </li>
    </ul>
</div>