<div class="row">
    <div class="col-md-12 navbar-light position-fixed">
        <b><label>Готовые опросы</label></b>
        <ul class="navbar-nav flex-column">
            {% for poll in polls %}
                <li class="user-sidebar-item">
                    <a class="nav-link" href="{% url 'main:new_poll_from_template' poll.id %}">{{ poll.name }}</a>
                </li>
            {% endfor %}
{#            <li class="{{ menu_edit_basic_information }} user-sidebar-item">#}
{#                <a class="nav-link" href="{% url 'main:new_poll' %}">Общее</a>#}
{#            </li>#}
{#            <li class="{{ menu_edit_additional_information }} user-sidebar-item">#}
{#                <a class="nav-link" href="#">Дополнительное</a>#}
{#            </li>#}
{#            <li class="{{ menu_edit_password_change }} user-sidebar-item">#}
{#                <a class="nav-link" href="{% url 'main:password_change' %}">Смена пароля</a>#}
{#            </li>#}
        </ul>
    </div>
</div>