@charset "UTF-8";
.unselectable, a {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: scroll;
}

h1 {
  font-weight: 600;
  font-size: 35px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: rgba(0, 0, 0, 0.93);
}

a {
  color: #2269D5;
  text-decoration-line: none;
  cursor: pointer;
}
a:hover {
  text-decoration-line: underline;
}
a:active {
  text-decoration-line: underline;
  color: #1D52A2;
}

button {
  cursor: pointer;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid #E5E5E5;
  height: 57px;
  min-width: 1348px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header__container .header__content {
  width: 1348px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__container .header__content .header__link {
  margin-left: 32px;
  width: 56px;
  height: 28px;
  padding: 0;
}
.header__container .header__content .header__link .header__logo {
  width: 56px;
  height: 28px;
}
.header__container .header__content .head-menu {
  position: relative;
  box-sizing: border-box;
  min-width: 150px;
  width: auto;
  height: 57px;
  margin-right: 15px;
}
.header__container .header__content .head-menu .head-menu-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 57px;
  cursor: pointer;
  padding: 0 8px;
  color: #939393;
}
.header__container .header__content .head-menu .head-menu-up:hover {
  background: #FAFAFA;
}
.header__container .header__content .head-menu .head-menu-up:active, .header__container .header__content .head-menu .head-menu-up.active {
  background: #FAFAFA;
  color: #000000;
}
.header__container .header__content .head-menu .head-menu-up .head-menu-name {
  margin: auto 10px auto 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
}
.header__container .header__content .head-menu .head-menu-up .head-menu-img {
  margin: auto 5px auto auto;
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.header__container .header__content .head-menu .head-menu-up .head-menu-mark {
  margin: auto 0;
  width: 12px;
  height: 12px;
  filter: brightness(0.6);
}
.header__container .header__content .head-menu .head-menu-down {
  display: none;
}
.header__container .header__content .head-menu .head-menu-down .head-menu-items {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #FFFFFF;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  cursor: default;
  box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
}
.header__container .header__content .head-menu .head-menu-down .head-menu-items::before {
  content: "";
  top: -18px;
  right: 31px;
  position: absolute;
  border: 9px solid transparent;
  border-bottom: 9px solid #cccccc;
}
.header__container .header__content .head-menu .head-menu-down .head-menu-items::after {
  content: "";
  top: -16px;
  right: 31px;
  position: absolute;
  border: 9px solid transparent;
  border-bottom: 9px solid #FFFFFF;
  cursor: pointer;
}
.header__container .header__content .head-menu .head-menu-down .head-menu-items .head-menu-item {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  margin: 5px 0;
  height: 30px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2269D5;
  white-space: nowrap;
  overflow: hidden;
}
.header__container .header__content .head-menu .head-menu-down .head-menu-items .head-menu-item:hover, .header__container .header__content .head-menu .head-menu-down .head-menu-items .head-menu-item:active {
  background: #F0F1F6;
  cursor: pointer;
}
.header__container .header__content .head-menu .head-menu-down .head-menu-items .head-menu-item .head-menu-item-text-block {
  white-space: nowrap;
  overflow: hidden;
}
.header__container .header__content .head-menu .head-menu-down .head-menu-items .head-menu-item .head-menu-item-text-block .head-menu-item-text {
  /*width: 100%;*/
  white-space: nowrap;
}
.header__container .header__content .head-menu .head-menu-down .head-menu-items .head-menu-line {
  margin: 0 auto;
  height: 1px;
  width: 95%;
  background-color: #E5E5E5;
}
.header__container .header__content .head-menu-no-login {
  margin-right: 32px;
  height: 19px;
}
.header__container .header__content .head-menu-no-login .menu-no-login {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.header__container .header__content .head-menu-no-login .menu-no-login .menu-no-login-item {
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}
.header__container .header__content .head-menu-no-login .menu-no-login .menu-no-login-item:hover {
  color: #939393;
}
.header__container .header__content .head-menu-no-login .menu-no-login .menu-no-login-item.active {
  color: #595757;
}
.header__container .header__content .head-menu-no-login .menu-no-login .menu-no-login-item:last-child {
  margin-left: 24px;
}
.header__container .header__content .head-menu-no-login .menu-no-login .menu-no-login-item .menu-no-login-link {
  color: inherit;
  text-decoration: none;
}

.container-main {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  width: 1348px;
  min-height: 100%;
  background: white;
  padding-top: 87px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
}
.container-main .col-left {
  width: 219px;
  height: auto;
  padding-right: 10px;
  /*background-color: green;*/
}
.container-main .col-center {
  width: 910px;
  height: auto;
  /*margin-right: 15px;*/
}
.container-main .col-right {
  width: 219px;
  height: auto;
  padding-left: 10px;
  /*background-color: red;*/
}

.menu-left {
  position: fixed;
  width: 209px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  z-index: 10;
}
.menu-left .menu {
  padding: 0;
}
.menu-left .menu .menu-item {
  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #939393;
  height: 40px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.menu-left .menu .menu-item:first-child {
  margin-top: 0;
}
.menu-left .menu .menu-item:hover {
  color: #595757;
  background-color: #FAFAFA;
}
.menu-left .menu .menu-item.menu-item.active {
  color: #000000;
}
.menu-left .menu .menu-item .menu-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.menu-left .menu .menu-item .menu-link:hover {
  text-decoration: none;
}
.menu-left .menu .menu-item .menu-link, .menu-left .menu .menu-item .menu-link:hover, .menu-left .menu .menu-item .menu-link:active {
  padding-left: 17px;
  color: inherit;
  text-decoration: none;
}

.button-red {
  background-color: #FF1841;
  height: 40px;
  width: 80px;
  color: #FAFAFA;
  border-radius: 5px;
  border: 2px solid #FF1841;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
}
.button-red:hover {
  /*border: none;*/
  /*background-color: rgba(255, 24, 65, 0.85);*/
  /*padding: 10px 14px;*/
}
.button-red:active {
  background: #B61E39;
  border: 2px solid #FF1841;
  outline: none;
}
.button-red:disabled {
  background: #E5E5E5;
  border: 2px solid #E5E5E5;
  cursor: not-allowed;
}
.button-red:focus {
  outline: 1px dotted blue;
}

.button-white {
  background-color: #FAFAFA;
  height: 40px;
  width: 80px;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000000;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  box-sizing: border-box;
}
.button-white:active {
  border: 2px solid #FF1841;
  outline: none;
}
.button-white:disabled {
  background: #FAFAFA;
  border: 1px solid #C4C4C4;
  color: #C4C4C4;
  cursor: not-allowed;
}
.button-white:focus {
  outline: 1px dotted blue;
}

.input-field {
  height: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  /*display: block;*/
  width: 100%;
  padding: 6px 12px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: none;
}
.input-field::placeholder {
  color: #595757;
}
.input-field::-moz-placeholder {
  color: #000000;
}
.input-field:-moz-placeholder {
  color: #000000;
}
.input-field::-webkit-input-placeholder {
  color: #595757;
}
.input-field:-ms-input-placeholder {
  color: #595757;
}
.input-field::-ms-input-placeholder {
  color: #595757;
}
.input-field:active {
  border: 2px solid #FF1841;
  outline: none;
}
.input-field:focus {
  border: 2px solid #FF1841;
  outline: none;
  padding: 5px 11px;
}
.input-field:disabled {
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
.input-field.error {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 6px 12px;
  color: #FF1841;
}
.input-field.error:active {
  border: 2px solid #FF1841;
  outline: none;
}
.input-field.error:focus {
  border: 2px solid #FF1841;
  outline: none;
  padding: 5px 11px;
}

.popup {
  display: none;
  opacity: 0;
  position: relative;
  height: 0;
}
.popup .popup_message {
  display: block;
  width: 220px;
  position: relative;
  right: calc(-100% - 15px);
  top: -40px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.popup .popup_message::before {
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-right: 12px solid rgba(0, 0, 0, 0.2);
  left: -20px;
  top: 13px;
}
.popup .popup_message::after {
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-right: 12px solid #FFFFFF;
  left: -18px;
  top: 13px;
}
.popup .popup_message .popup_message-text {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FF1841;
  padding: 0;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}
.popup .popup_message > .popup_message-text:first-child {
  margin-top: 12px;
}
.popup .popup_message > .popup_message-text:last-child {
  margin-bottom: 12px;
}

.role {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 22px;
  border: 1px solid #595757;
  box-sizing: border-box;
  border-radius: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #595757;
  cursor: default;
}
.role:hover {
  border-color: #000000;
  background-color: #000000;
  color: #FFFFFF;
}
.role.role-boss {
  border-color: #FF1841;
  color: #FF1841;
}
.role.role-boss:hover {
  border-color: #FF1841;
  background-color: #FF1841;
  color: #FFFFFF;
}
.role.role-master {
  border-color: #DB00FF;
  color: #DB00FF;
}
.role.role-master:hover {
  border-color: #DB00FF;
  background-color: #DB00FF;
  color: #FFFFFF;
}
.role.role-moderator {
  border-color: #001AFF;
  color: #001AFF;
}
.role.role-moderator:hover {
  border-color: #001AFF;
  background-color: #001AFF;
  color: #FFFFFF;
}

.role-information {
  width: 264px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  left: calc(264px / -2 + 50%);
  top: calc(100% + 9px);
  z-index: 500;
}
.role-information::before {
  content: "";
  position: absolute;
  top: -6px;
  right: calc(50% - 6px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  /* размер и форма */
  border-color: #cccccc transparent transparent #cccccc;
  /* red — цвет */
  transform: rotate(45deg);
}
.role-information::after {
  content: "";
  position: absolute;
  top: -5px;
  right: calc(50% - 6px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  /* размер и форма */
  border-color: #FFFFFF transparent transparent #FFFFFF;
  /* red — цвет */
  transform: rotate(45deg);
}
.role-information .position__info::after {
  content: "Должность";
}
.role-information .platform__info::after {
  content: "Отдел";
}
.role-information .boss__info::before {
  content: "Босс";
  font-weight: bold;
}
.role-information .boss__info::after {
  content: " - это суперюзер с полным спектром возможностей.";
}
.role-information .moderator__info::before {
  content: "Модератор";
  font-weight: bold;
}
.role-information .moderator__info::after {
  content: " может создавать отделы и должности а также  изменять отделы, дожности и роли участников компании.";
}
.role-information .master__info::before {
  content: "Мастер опросов";
  font-weight: bold;
}
.role-information .master__info::after {
  content: " может выбирать, о ком будет опрос, среди участников компании.";
}

.position-information,
.platform-information {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 97px;
  left: calc(97px / -2 + 50%);
}

._hint ._hint-up-wait,
._hint-wait ._hint-up-wait,
._hint-click ._hint-up-wait {
  cursor: pointer;
}
._hint ._hint-down,
._hint ._hint-down-wait,
._hint ._hint-down-click,
._hint-wait ._hint-down,
._hint-wait ._hint-down-wait,
._hint-wait ._hint-down-click,
._hint-click ._hint-down,
._hint-click ._hint-down-wait,
._hint-click ._hint-down-click {
  display: none;
  position: relative;
}
.rounded-block {
  background-color: #fafafa;
  border-radius: 5px;
  padding: 30px;
  height: auto;
}

.substrate {
  background-color: transparent;
}

.hide,
.hide * {
  display: none;
}

.hidden,
.hidden * {
  opacity: 0;
}

.show {
  display: block;
}

.cross-in-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.cross-in-circle .circle {
  width: 14px;
  height: 14px;
  border: 1px solid #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross-in-circle .circle .line-1,
.cross-in-circle .circle .line-2 {
  width: 2px;
  height: 10px;
  background-color: #000000;
}
.cross-in-circle .circle .line-1 {
  transform: rotate(0deg);
}
.cross-in-circle .circle .line-1 .line-2 {
  transform: rotate(-90deg);
}

.categories-block .sort {
  padding-bottom: 0;
  padding-top: 0;
  height: 60px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.categories-block .sort .category {
  width: 204px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #939393;
  cursor: pointer;
}
.categories-block .sort .category:not(:last-child) {
  margin-right: 4px;
}
.categories-block .sort .category:hover, .categories-block .sort .category:hover > .category__title {
  background: #F0F1F6;
  color: #595757;
  border-bottom-color: #595757;
}
.categories-block .sort .category:active, .categories-block .sort .category.active-sort, .categories-block .sort .category:active > .category__title, .categories-block .sort .category.active-sort > .category__title {
  color: #001AFF;
  border-bottom-color: #001AFF;
}
.categories-block .sort .category .category__title {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #939393;
}
.categories-block .sort .category .category__title .category__notice {
  position: absolute;
  bottom: calc(100% - 3px);
  left: 100%;
  background: #FF1841;
  border: 1px solid #FF1841;
  box-sizing: border-box;
  border-radius: 40px;
  height: 16px;
  width: auto;
  padding-right: 6px;
  padding-left: 6px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
.categories-block .sort .category .category__title .category__notice:before {
  content: "+";
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.modal.hide {
  display: none;
}
.modal .modal__window {
  width: 428px;
  height: auto;
  z-index: 2050;
}

/*# sourceMappingURL=custom.css.map */
