.role {
  display: table-cell;
  vertical-align: middle;
  padding: 0 8px;
  height: 22px;
  border: 1px solid #595757;
  box-sizing: border-box;
  border-radius: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #595757;

  &:hover {
    border-color: #000000;
    background-color: #000000;
    color: #FFFFFF;
  }

  &.role-boss {
    border-color: #FF1841;
    color: #FF1841;

    &:hover {
      border-color: #FF1841;
      background-color: #FF1841;
      color: #FFFFFF;
    }
  }

  &.role-master {
    border-color: #DB00FF;
    color: #DB00FF;

    &:hover {
      border-color: #DB00FF;
      background-color: #DB00FF;
      color: #FFFFFF;
    }
  }

  &.role-moderator {
    border-color: #001AFF;
    color: #001AFF;

    &:hover {
      border-color: #001AFF;
      background-color: #001AFF;
      color: #FFFFFF;
    }
  }
}

._hint {
  ._hint-up {
    //display: flex;
    //flex-direction: row;
    //justify-content: space-between;
    //height: 22px;
    cursor: pointer;
  }

  ._hint-down {
    display: none;

    ._hint-down-block {
    }
  }
}