.editor {
  display: flex;
  flex-direction: column;

  .editor__head {
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;

    .head__main {
      max-width: 620px;
      display: flex;
      flex-direction: column;

      .head__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
      }

      .head__text {
        margin-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #595757;
      }

      .head__href {
        margin-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #2269D5;
      }
    }

    .head__move {
      .head__btn {
        &:first-child {
          margin-right: 12px;
        }
      }
    }
  }

  .editor__category {
    .substrate {
      .color {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto 0 auto auto;
        width: 185px;

        .color__variable {
          width: 35px;
          height: 35px;
          background-color: #C4C4C4;
          border-radius: 50%;
          position: relative;
          cursor: pointer;
          transform: scale(1);
          transition: .15s transform;

          &.color__variable--select:before {
            content: ""; /*вместо того, чтобы создавать div с фоном и позиционировать внутри родительского блока*/
            position: absolute;
            //z-index: -1;
            top: 4px;
            left: 7px;
            width: 35px;
            height: 35px;
            background: url('../images/icon/check-mark.svg') no-repeat;
            background-size: 22px;
            //background-repeat: ;
          }

          &.color__variable--select {
            transform: scale(1.2);
          }

          &.purple {
            background-color: #DB00FF;
          }

          &.blue {
            background-color: #001AFF;
          }

          &.red {
            background-color: #FF1841;
          }
        }
      }
    }

    .categories {
      .category-content {

      }
    }
  }
}