:root {
  --mdc-theme-primary: #001aff;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 50;

  .templates,
  .polls {
    z-index: 50;
  }

  .templates {
    padding: 0;
    margin-bottom: 10px;
    overflow: hidden;

    &.few {
      height: 318px;
    }

    &.many {
      height: auto;
    }

    .header {
      height: 88px;
      border-bottom: 1px solid #E5E5E5;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;

      .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
      }

      .more {
        font-size: 14px;
        line-height: 16px;
      }
    }

    .templates-block {
      margin: 30px 30px 0;

      .templates-general {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        .template-item {
          margin: 0 30px 30px 0;

          &:nth-child(4n) {
            margin: 0 0 30px 0;
          }
        }
      }

      .my-templates-block {
        .title {
          display: flex;
          align-items: center;
          height: 50px;
          border-bottom: 1px solid #E5E5E5;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          color: #595757;
        }

        .my-templates {
          margin: 30px 0 0;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;

          .template-item {
            margin: 0 30px 30px 0;

            &:nth-child(4n) {
              margin: 0 0 30px 0;
            }
          }
        }
      }
    }
  }

  .polls {
    .substrate {
      .sort {
        margin-bottom: 20px;
        overflow: visible;

        .category {
          .category__title {
            .category__notice {

            }
          }
        }

        .sortable {
          margin: 0 0 0 auto;
          display: flex;
          align-items: center;

          & > .width-245 {
            width: 245px;
          }

          & > .mdc-select {
            & > .width-245 {
              width: 245px;
            }

            & > .height-40 {
              height: 40px;
            }

            & > .mdc-select__anchor > .mdc-select__selected-text {
              color: #595757;
            }

            &:hover:not(.mdc-select--activated):not(.mdc-select--focused) > .mdc-select__anchor > .mdc-notched-outline.mdc-notched-outline--no-label > .mdc-notched-outline__leading,
            &:hover:not(.mdc-select--activated):not(.mdc-select--focused) > .mdc-select__anchor > .mdc-notched-outline.mdc-notched-outline--no-label > .mdc-notched-outline__trailing {
              border-color: #595757;
            }

            //&:hover > .mdc-select__anchor > .mdc-notched-outline.mdc-notched-outline--no-label > .mdc-notched-outline__leading,
            //&.mdc-select--focused > .mdc-select__anchor > .mdc-notched-outline.mdc-notched-outline--no-label > .mdc-notched-outline__trailing,
            //&.mdc-select--focused:hover > .mdc-select__anchor > .mdc-notched-outline.mdc-notched-outline--no-label > .mdc-notched-outline__trailing {
            //  border-color: #001aff;
            //}

            //&:not(.mdc-select--activated) > .mdc-select__anchor > .mdc-notched-outline.mdc-notched-outline--no-label > .mdc-notched-outline__leading,
            //&:not(.mdc-select--activated) > .mdc-select__anchor > .mdc-notched-outline.mdc-notched-outline--no-label > .mdc-notched-outline__trailing {
            //  border-color: #C8C8C8;
            //}
            //
            //&.mdc-select--activated > .mdc-select__anchor > .mdc-notched-outline.mdc-notched-outline--no-label > .mdc-notched-outline__leading,
            //&.mdc-select--activated > .mdc-select__anchor > .mdc-notched-outline.mdc-notched-outline--no-label > .mdc-notched-outline__trailing {
            //  border-color: #001aff;
            //}
          }
        }

        //& > .mdc-select .mdc-floating-label  {
        //  top: 75%;
        //}
      }
    }

    .categories {
      .category-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        //margin-bottom: 100px;

        &.hide {
          display: none;
        }

        .poll-item {
          margin-bottom: 20px;
          margin-right: 20px;

          &:nth-of-type(3n) {
            margin-right: 0;
          }
        }

        .category-empty {
          //display: flex;
          width: 910px;
          height: 200px;

          .hide {
            display: none;
          }
        }
      }
    }
  }
}

.new-poll {
  display: none;
}

.template-item {
  width: 190px;
  height: 170px;

  &.red > .template__main {
    &:hover {
      border: 1px solid #FF1841;
    }

    &:hover ~ .template__name .name {
      background-color: #FF1841;
      color: #FFFFFF;
    }
  }

  &.blue > .template__main {
    &:hover {
      border: 1px solid #001AFF;
    }

    &:hover ~ .template__name .name {
      background-color: #001AFF;
      color: #FFFFFF;
    }
  }

  &.purple > .template__main {
    &:hover {
      border: 1px solid #DB00FF;
    }

    &:hover ~ .template__name .name {
      background-color: #DB00FF;
      color: #FFFFFF;
    }
  }

  &.red > .template__main > .template_img > .line {
    background-color: #FF1841;
  }

  &.blue > .template__main > .template_img > .line {
    background-color: #001AFF;
  }

  &.purple > .template__main > .template_img > .line {
    background-color: #DB00FF;
  }

  &.template-new > .template__main {
    justify-content: center;

    .plus {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;

      .horizontal {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6px;
        width: 40px;
        background-color: #FF1841;

        .vertical {
          height: 40px;
          width: 6px;
          background-color: #FF1841;
        }
      }
    }
  }

  .template__main {
    width: 190px;
    height: 140px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    &:hover {
      border: 1px solid #000000;
    }

    &:hover ~ .template__name .name {
      background-color: black;
      color: #FFFFFF;
    }

    .template_img {
      width: 67px;
      height: 87px;
      margin: auto;
      display: flex;
      flex-direction: column;

      .line {
        height: 3px;
        background-color: #C4C4C4;
        margin-bottom: 3px;

        &:nth-child(3n + 2) {
          margin-bottom: 11px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(1) {
          width: 59px;
        }

        &:nth-child(2) {
          width: 48px;
        }

        &:nth-child(3n + 4) {
          width: 29px;
        }

        &:nth-child(3n + 5) {
          width: 33px;
        }
      }
    }
  }

  //overflow: hidden;
  //white-space: nowrap;
  //text-overflow: ellipsis;

  .template__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 30px;
    font-size: 14px;
    line-height: 16px;
    max-width: 190px;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;

    .name {
      height: 22px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 190px;
      padding: 0 9px;
      border-radius: 5px;
      cursor: default;

      & > span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.poll-item {
  width: 290px;
  height: 370px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &.red:hover {
    border: 1px solid #FF1841;
  }

  &.blue:hover {
    border: 1px solid #001AFF;
  }

  &.purple:hover {
    border: 1px solid #DB00FF;
  }

  &:hover {
    border: 1px solid #000000;
    padding: 29px;
  }

  &.red > .poll__main > .template_img > .line {
    background-color: #FF1841;
  }

  &.blue > .poll__main > .template_img > .line {
    background-color: #001AFF;
  }

  &.purple > .poll__main > .template_img > .line {
    background-color: #DB00FF;
  }

  .poll__main {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    .template_img {
      width: 100px;
      height: 126px;
      padding-top: 12px;

      .line {
        height: 4px;
        background-color: #C4C4C4;
        margin-bottom: 4px;

        &:nth-child(3n + 2) {
          margin-bottom: 13px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(1) {
          width: 74px;
        }

        &:nth-child(2) {
          width: 61px;
        }

        &:nth-child(3n + 4) {
          width: 37px;
        }

        &:nth-child(3n + 5) {
          width: 42px;
        }
      }
    }
  }

  .poll__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 53px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .line-decoration {
    height: 1px;
    background-color: #E5E5E5;
    margin-top: 14px;
  }

  .poll_target {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .poll_details {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #595757;
    margin-top: 9px;
    margin-bottom: auto;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
  }
}

._preloader {
  height: calc(100vh - 90px - 45px);
  padding-top: 50px;

  &.small {
    height: 100px;
  }

  ._preloader__sub {
    display: flex;
    justify-content: center;

    ._loader {
      display: block;
      width: 50px;
      height: 50px;
      background-color: red;
      border-radius: 50%;
      animation: .5s linear 0s infinite alternate load;
      transform: translateY(-50%);
    }
  }
}

@keyframes load {
  from {
    width: 50px;
    height: 50px;
  }
  to {
    width: 10px;
    height: 10px;
  }
}

._updater {
  width: 30px;
  height: 30px;
  margin: auto auto auto 20px;

  .update {
    width: 30px;
    height: 30px;
    animation: .8s linear 0s infinite reverse looping;
  }
}

@keyframes looping {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.unshow-polls {
  display: none;
}

.show-new-poll {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  cursor: pointer;

  &.hide {
    display: none;
  }

  &:hover {
    .label {
      .up {
        //transform: translateY(-10px);
        animation: .5s linear infinite up;
      }
    }
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;

    .up {
      //transform: translateY(0);
      //transition: all 100ms linear;
    }
  }
}

@keyframes up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px);
  }
}