@charset "UTF-8";
.content {
  display: flex;
  z-index: 50;
}
.content .left-content {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 364px;
  margin-right: 10px;
  position: sticky;
  top: 57px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 50;
}
.content .left-content .left-content-photo {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 30px;
}
.content .left-content #createPoll,
.content .left-content .left-content-new_poll {
  width: 100%;
  margin-bottom: 14px;
}
.content .left-content #createTeam,
.content .left-content .left-content-new_team {
  width: 100%;
}
.content .center-content {
  width: 680px;
  height: auto;
  z-index: 50;
}
.content .center-content .center-content-information {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
}
.content .center-content .center-content-information .center-content-information-name {
  display: inline-block;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 6px;
  margin-left: 30px;
  margin-right: 30px;
}
.content .center-content .center-content-information .center-content-information-roles_n_company {
  position: relative;
  min-height: 9px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 30px;
  margin-right: 30px;
}
.content .center-content .center-content-information .center-content-information-roles_n_company .center-content-information-role {
  margin-right: 5px;
}
.content .center-content .center-content-information .center-content-information-roles_n_company .center-content-information-role:last-of-type {
  margin-right: auto;
}
.content .center-content .center-content-information .center-content-information-roles_n_company .center-content-information-company {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions {
  padding-bottom: 15px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 15px;
  border-top: 1px solid #E5E5E5;
  margin-top: 13px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-positions {
  width: 50%;
  border-right: 1px solid #E5E5E5;
  padding-right: 30px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-positions .center-content-information-positions-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #595757;
  margin-bottom: 10px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-positions .center-content-information-positions-data {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 9px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-positions .center-content-information-positions-data .center-content-information-position {
  margin-right: 5px;
  margin-bottom: 4px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-positions .center-content-information-positions-data .center-content-information-position-empty {
  padding-top: 6px;
  height: 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  margin-bottom: 4px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-platforms {
  width: 50%;
  padding-left: 30px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-platforms .center-content-information-platforms-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #595757;
  margin-bottom: 10px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-platforms .center-content-information-platforms-data {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 9px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-platforms .center-content-information-platforms-data .center-content-information-platform {
  margin-right: 5px;
  margin-bottom: 4px;
}
.content .center-content .center-content-information .center-content-information-platforms_n_positions .center-content-information-platforms .center-content-information-platforms-data .center-content-information-platform-empty {
  padding-top: 6px;
  height: 22px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  margin-bottom: 4px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  border-top: 1px solid #E5E5E5;
  cursor: pointer;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-btn:hover {
  background-color: #F0F1F6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-btn.active-more {
  height: 47px;
  border-bottom: 1px solid #E5E5E5;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-btn.active-more:hover {
  background-color: #F0F1F6;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-btn .center-content-information-more-btn-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2269D5;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details {
  display: none;
  margin: 15px 30px 0;
  padding-bottom: 30px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-main {
  display: flex;
  margin-bottom: 18px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-main .center-content-information-more-details-main-fullname {
  width: 50%;
  border-right: 1px solid #E5E5E5;
  padding-bottom: 10px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-main .center-content-information-more-details-main-fullname .center-content-information-more-details-main-birthday-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #595757;
  margin-bottom: 13px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-main .center-content-information-more-details-main-fullname .center-content-information-more-details-main-fullname-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #595757;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-main .center-content-information-more-details-main-birthday {
  width: 50%;
  padding-left: 30px;
  padding-bottom: 10px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-main .center-content-information-more-details-main-birthday .center-content-information-more-details-main-birthday-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #595757;
  margin-bottom: 13px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-main .center-content-information-more-details-main-birthday .center-content-information-more-details-main-birthday-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #595757;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-email {
  margin-bottom: 29px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-email .center-content-information-more-details-main-email-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #595757;
  margin-bottom: 13px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-email .center-content-information-more-details-main-email-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #2269D5;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-teams .center-content-information-more-details-main-teams-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #595757;
  margin-bottom: 13px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-teams .center-content-information-more-details-main-teams-block {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-teams .center-content-information-more-details-main-teams-block.teams-empty {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #C4C4C4;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-teams .center-content-information-more-details-main-teams-block .center-content-information-more-details-main-team-link {
  display: inline-block;
}
.content .center-content .center-content-information .center-content-information-more .center-content-information-more-details .center-content-information-more-details-teams .center-content-information-more-details-main-teams-block .center-content-information-more-details-main-team-link:not(:last-child)::after {
  content: ",";
  color: black;
}

.content .body__top {
  position: sticky;
  top: 56px;
  z-index: 100;
}
.content .content__body {
  display: flex;
  flex-direction: column;
  margin-bottom: 20vh;
}
.content .content__body .show-new-poll {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 0;
  cursor: pointer;
}
.content .content__body .show-new-poll.hide {
  display: none;
}
.content .content__body .show-new-poll .label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .content__body .notifications .notification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  margin-bottom: 10px;
}
.content .content__body .notifications .notification.is_unshown {
  display: none;
}
.content .content__body .notifications .notification[data-type=poll] .notification__image {
  background-image: url("../images/newPoll.svg");
}
.content .content__body .notifications .notification[data-type=poll] .notification__more::before {
  content: "О ком: ";
}
.content .content__body .notifications .notification[data-type=poll] .notification__actions .notification__open {
  width: 80px;
}
.content .content__body .notifications .notification[data-type=poll] .notification__actions .notification__open::before {
  content: "Пройти";
}
.content .content__body .notifications .notification[data-type=result] .notification__image {
  background-image: url("../images/pollDone.svg");
}
.content .content__body .notifications .notification[data-type=result] .notification__more::before {
  content: "О ком: ";
}
.content .content__body .notifications .notification[data-type=result] .notification__actions .notification__open {
  width: 90px;
}
.content .content__body .notifications .notification[data-type=result] .notification__actions .notification__open::before {
  content: "Смотреть";
}
.content .content__body .notifications .notification[data-type=invite] .notification__image {
  background-image: url("../images/inviteTeam.svg");
  background-size: cover;
}
.content .content__body .notifications .notification[data-type=invite] .notification__more::before {
  content: "От кого: ";
}
.content .content__body .notifications .notification[data-type=invite] .notification__actions .notification__open {
  width: 90px;
}
.content .content__body .notifications .notification[data-type=invite] .notification__actions .notification__open::before {
  content: "Вступить";
}
.content .content__body .notifications .notification .notification__image {
  height: 45px;
  width: 45px;
}
.content .content__body .notifications .notification .notification__info {
  display: flex;
  flex-direction: column;
  width: 435px;
  margin-left: 10px;
  margin-right: auto;
  border-right: 1px solid #E5E5E5;
  padding-right: 50px;
}
.content .content__body .notifications .notification .notification__info .notification__title {
  min-height: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.content .content__body .notifications .notification .notification__info .notification__more {
  min-height: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #595757;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .content__body .notifications .notification .notification__info .notification__more .notification__target {
  font-weight: normal;
}
.content .content__body .notifications .notification .notification__info .notification__about {
  min-height: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #595757;
  margin-top: 5px;
}
.content .content__body .notifications .notification .notification__info .notification__date {
  min-height: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  margin-top: 5px;
}
.content .content__body .notifications .notification .notification__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .content__body .notifications .notification .notification__actions .notification__close {
  background-image: url("../images/icon/clear-24px.svg");
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 15px;
}
.content .content__body .notifications .notification .notification__actions .notification__close::before {
  content: "Скрыть";
}
.content .content__body .notifications .notification .notification__actions .notification__open {
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
  text-decoration: none;
}
.content .content__body .notifications .notification .notification__actions .notification__open:active {
  color: #fafafa;
}
.content .content__body .notifications .notification .notification__actions .notification__open::before {
  margin: auto;
}

/*# sourceMappingURL=profile.css.map */
