{% extends "main/wrapper.html" %}
{% load static %}

{% block global_error %}
    {% if global_error == '400' %}
        {% include 'main/includes/global_error.html' with global_error_info='Некорректный запрос' home_page='true' %}
    {% elif global_error == '403' %}
        {% include 'main/includes/global_error.html' with global_error_info='Доступ запрещён' home_page='true' %}
    {% elif global_error == '404' %}
        {% include 'main/includes/global_error.html' with global_error_info='Страница не найдена' home_page='true' %}
    {% elif global_error == '500' %}
        {% include 'main/includes/global_error.html' with global_error_info='Внутренняя ошибка сервера' text='Пожалуйста, обновите страницу через несколько минут' %}
    {% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block css %}

{% endblock %}