{% extends 'main/wrapper.html' %}
{% load static %}

{% block sidebar-nav %}
    {% include 'main/includes/menu.html' %}
{% endblock %}

{% block content-user %}

    <div class="content">
        {% csrf_token %}
        <div class="content__head rounded-block">
            <div class="head__top">
                <div class="info">
                    <h1 class="company__name">{{ company.name }}</h1>
                </div>
                <div class="actions">
                    {% if profile.is_boss or profile.is_master %}
                        <a href="{% url 'main:create_poll_from_company' company_id=company.id %}" class="button-red" id="newPoll">Провести опрос</a>
                    {% endif %}
                </div>
            </div>
            <div class="head__middle-1">
                <h3 class="subtitle">Описание</h3>
                <div class="description">
                    {{ company.description }}
                </div>
            </div>
            <div class="head__middle-2">
                <div class="positions">
                    <h3 class="subtitle">Должности</h3>
                    <div class="positions__content">
                        {% if company.positions %}
                            {% for position in company.positions %}
                                <div class="position _hint">
                                    <div class="role _hint-up">
                                        {{ position }}
                                    </div>
                                    <div class="_hint-down">
                                        <div class="_hint-down-block">
                                            <div class="position-information role-information">
                                                <div class="position__info"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="empty">Нет должностей</div>
                        {% endif %}
                    </div>
                </div>
                <div class="platforms">
                    <h3 class="subtitle">Отделы</h3>
                    <div class="platforms__content">
                        {% if company.platforms %}
                            {% for platform in company.platforms %}
                                <div class="platform _hint">
                                    <div class="role _hint-up">
                                        {{ platform }}
                                    </div>
                                    <div class="_hint-down">
                                        <div class="_hint-down-block">
                                            <div class="platform-information role-information">
                                                <div class="platform__info"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="empty">Нет должностей</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="head__bottom categories-block">
            <div class="substrate">
                <div class="sort rounded-block unselectable">
                    <div class="category" data-category="teams">
                        <div class="category__title">Команды ({{ company.countTeams }})
                        </div>
                    </div>
                    <div class="category" data-category="users">
                        <div class="category__title">Участники ({{ company.countParticipants }})
                        </div>
                    </div>
                </div>
                <div class="unselectable search-down rounded-block">
                    <input type="text" class="search input-field" placeholder="Поиск по участникам..."
                           autocomplete="off">
                </div>
            </div>
        </div>
        <div class="content__body">
            {#                        {% include 'main/companies/teams.html' %}#}
            {#            {% include 'main/companies/users.html' %}#}
        </div>
    </div>

{% endblock %}

{% block sidebar-nav-right %}
    {% include 'main/includes/menu_company_view_right.html' with menu_company='item--active' %}
    {% include 'main/includes/scroll_top.html' %}
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'main/scss/bad_search.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/libraries/scroll_top.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/scss/company_view.min.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'main/js/libraries/scroll_top.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/libraries/hint.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/company_view.js' %}"></script>
{% endblock %}
