{% load static %}

<div class="notification rounded-block" data-type="poll">
    <img src="{% static 'main/images/newPoll.svg' %}" class="notification__image" alt="">
    <div class="notification__info">
        <div class="notification__title">{{ notif.title }}</div>
        <div class="notification__more">
            О ком: <a href="{{ notif.more.url }}" class="notification__target">{{ notif.more.name }}</a>
        </div>
        <div class="notification__about">
            {{ notif.about }}
        </div>
        <div class="notification__date">{{ notif.date }}</div>
    </div>
    <div class="notification__actions">
        <div class="notification__close team__leave"></div>
        <button class="button-red notification__open"></button>
    </div>
</div>

<div class="notification rounded-block" data-type="result">
    <img src="{% static 'main/images/newPoll.svg' %}" class="notification__image" alt="">
    <div class="notification__info">
        <div class="notification__title">{{ notif.title }}</div>
        <div class="notification__more">
            О ком: <a href="{{ notif.more.url }}" class="notification__target">{{ notif.more.name }}</a>
        </div>
        <div class="notification__about">
            {{ notif.about }}
        </div>
        <div class="notification__date">{{ notif.date }}</div>
    </div>
    <div class="notification__actions">
        <div class="notification__close team__leave"></div>
        <button class="button-red"></button>
    </div>
</div>

<div class="notification rounded-block" data-type="invite">
    <img src="{% static 'main/images/newPoll.svg' %}" class="notification__image" alt="">
    <div class="notification__info">
        <div class="notification__title">{{ notif.title }}</div>
        <div class="notification__more">
            О ком: <a href="{{ notif.more.url }}" class="notification__target">{{ notif.more.name }}</a>
        </div>
        <div class="notification__about">
            {{ notif.about }}
        </div>
        <div class="notification__date">{{ notif.date }}</div>
    </div>
    <div class="notification__actions">
        <div class="notification__close team__leave"></div>
        <button class="button-red"></button>
    </div>
</div>