.btn-primary {
    color: #fff;
    background-color: #ff4868;
    border-color: #ff4868;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ab2c40;
    border-color: #ab2c40;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #7a2331;
    border-color: #ab2c40;
    box-shadow: 0 0 0 0
}

.btn-primary:active .btn-primary.active {
    color: #ffffff;
    background-color: #7a2331;
    border-color: #7a2331;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ab2c40;
    border-color: #ab2c40;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #741e2b;
    border-color: #ab2c40;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff4868;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(211, 61, 89, 0.7);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.93);
}

.rounded-block {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 20px;
    height: auto;
}

.animated-back {
    background: linear-gradient(90deg, #ff001c, #d300ff, #0000ff, #00c3fb);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo:hover {
}

.user-sidebar-item {
    display: block;
    width: 150px;
    background: transparent;
    padding-left: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.user-sidebar-item:hover {
    background: #FAFAFA;
}

.profile-footer-item {
    text-align: left;
    padding-left: 10px;
    margin-bottom: 5px;
}

.footer-link {
    font-size: 10pt;
    display: block;
}

.footer-link:hover {
}


.flex-center {
    justify-content: center;
}

.reset-pass-title {
    margin-bottom: 20px;
}

.reset-pass-subtitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.reset-pass-email {
    min-width: 200px;
    width: 200px;
    max-width: 400px;
    margin: 0 auto 100px;
}

.reset-pass-back-home-page {
    line-height: 14px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.reset-pass-next {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.input-buffer{
    position: absolute;
    top: -1000px;
    left: -1000px;
    visibility: hidden;
    white-space: nowrap;
}

.reset-pass-success-title {
    margin-bottom: 20px;
}

.reset-pass-success-subtitle {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    width: 400px;

    margin-left: auto;
    margin-right: auto;
}

.reset-pass-success-subtitle-part {
    margin-bottom: 35px;
}

.reset-pass-repeat-letter {
    margin-bottom: 70px;
}

.reset-pass-back {
    position: absolute;
    left: 10px;
    bottom: 10px;
}