.login {
    display: flex;
    /*background-color: #000;*/

}

.slider {
    height: 40.26vw;
    width: 40.26vw;
    margin-right: 0.37vw;
    border-radius: 0.37vw;
}

.slider-slide {
    width: 40.26vw;
    border-radius: 0.37vw;
}

.login-content {
    width: 25.99vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form {

}

.login-form-title {
    font-weight: bold;
    font-size: 2.64vw;
    line-height: 3.08vw;
    text-align: center;
    margin: 3.81vw 0 0.81vw;
}

.form-group {
    margin: 0 0 0.89vw;
}

.login-form-fields > .form-group:last-child {
    margin-bottom: 2.93vw;
}

.form-fields-label {
    font-weight: normal;
    font-size: 1.025vw;
    line-height: 1.172vw;
}

.form-fields-label {
    margin: 0 0 0.51vw;
}

.form-fields-input {

}

.login-form-navigate {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.login-form-navigate-btn {
    /*width: 80px;*/
    height: 2.93vw;
}

.login-form-line {
    width: 100%;
    height: 0.074vw;
    background-color: #E5E5E5;
    margin: auto 0 1.25vw;
}

.login-form-helper {
    text-align: center;
    margin: 0 0 2.71vw;
}

.login-form--helper-register {
    font-weight: normal;
    font-size: 1.025vw;
    line-height: 1.172vw;
    margin: 0 0 1.03vw;
}

.login-form--helper-reset_pass {
    font-weight: normal;
    font-size: 1.025vw;
    line-height: 1.172vw;
}