.login {
    display: flex;
    /*background-color: #000;*/

}

.slider {
    height: calc(550vw/1366*100);
    width: calc(550vw/1366*100);
    margin-right: calc(5vw/1366*100);
    border-radius: calc(5vw/1366*100);
}

.slider-slide {
    width: calc(550vw/1366*100);
    border-radius: calc(5vw/1366*100);
}

.login-content {
    width: calc(355vw/1366*100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form {

}

.login-form-title {
    font-weight: bold;
    font-size: calc(36vw/1366*100);
    line-height: calc(42vw/1366*100);
    text-align: center;
    margin: calc(52vw/1366*100) 0 calc(11vw/1366*100);
}

.form-group {
    margin: 0 0 calc(12vw/1366*100);
}

.login-form-fields > .form-group:last-child {
    margin-bottom: calc(40vw/1366*100);
}

.form-fields-label {
    font-weight: normal;
    font-size: calc(14vw/1366*100);
    line-height: calc(16vw/1366*100);
}

.form-fields-label {
    margin: 0 0 calc(7vw/1366*100);
}

.form-fields-input {

}

.login-form-navigate {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.login-form-navigate-btn {
    /*width: 80px;*/
    height: calc(40vw/1366*100);
}

.login-form-line {
    width: 100%;
    height: calc(1vw/1366*100);
    background-color: #E5E5E5;
    margin: auto 0 calc(17vw/1366*100);
}

.login-form-helper {
    text-align: center;
    margin: 0 0 calc(37vw/1366*100);
}

.login-form--helper-register {
    font-weight: normal;
    font-size: calc(14vw/1366*100);
    line-height: calc(16vw/1366*100);
    margin: 0 0 calc(14vw/1366*100);
}

.login-form--helper-reset_pass {
    font-weight: normal;
    font-size: calc(14vw/1366*100);
    line-height: calc(16vw/1366*100);
}