.login {
    display: flex;
    /*background-color: #000;*/

}

.slider {
    height: 550px;
    width: 550px;
    margin-right: 5px;
    border-radius: 5px;
}

.slider-slide {
    width: 550px;
    border-radius: 5px;
}

.login-content {
    width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form {

}

.login-form-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 48px;
}

.login-form-fields > .form-group:last-child {
    margin-bottom: 40px;
}

.login-form-fields-label,
.login-form-fields-input {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.login-form-navigate {

}

.login-form-navigate-login {
    float: right;
}

.login-form-line {
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    margin: auto 0 15px;
}

.login-form-helper {
    text-align: center;
    margin: 0 0 35px;
}

.login-form--helper-register {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 15px;
}

.login-form--helper-reset_pass {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}