.new-poll-title {
    font-weight: bold;
    font-size: calc(32vw/1366*100);
    line-height: calc(37vw/1366*100);
    margin: 0 0 calc(5vw/1366*100);
}

.new-poll-subtitle {
    font-weight: normal;
    font-size: calc(16vw/1366*100);
    line-height: calc(19vw/1366*100);
    margin: 0;
}

.new-poll-selection {
    /*background-color: #ffffff;*/
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    display: flex;
    flex-direction: column;
    padding: calc(10vw/1366*100) 0 0;
}

.new-poll-selection-search-block {
    position: relative;
}

.new-poll-selection-search {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: calc(17vw/1366*100);
    background-position: left calc(212vw/1366*100) center;
    border: calc(1vw/1366*100) solid rgba(0, 0, 0, 0.2);
    border-radius: calc(5vw/1366*100) calc(5vw/1366*100) 0 0;
    height: calc(50vw/1366*100);
    padding-left: calc(242vw/1366*100);
}

.new-poll-selection-search-label {
    margin: 0;
    padding: 0;
}

.new-poll-selection-search + label::before {
    content: "Ваши коллективы";
    position: absolute;
    top: 0.8em;
    left: calc(17vw/1366*100);
    font-weight: bold;
    font-size: calc(17vw/1366*100);
    line-height: calc(21vw/1366*100);
}

.new-poll-selection-search + label::after {
    content: "";
    position: absolute;
    width: calc(1vw/1366*100);
    height: calc(32vw/1366*100);
    background-color: #595757;
    left: calc(196vw/1366*100);
    top: calc(9vw/1366*100);
}

.new-poll-selection-list {
    background-color: #fff;
    border: calc(1vw/1366*100) solid rgba(0, 0, 0, 0.2);
    border-radius: 0 0 calc(5vw/1366*100) calc(5vw/1366*100);
    height: calc(250vw/1366*100);
    max-height: calc(250vw/1366*100);
    overflow: auto;
}

.new-poll-selection-list > .new-poll-selection-list-item {
    width: 100%;
    height: calc(50vw/1366*100);
}

.new-poll-selection-list-item-checkbox {

}

.new-poll-selection-list-item-name {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/*.new-poll-selection-list > option {*/
/*    height: 50px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding-left: 17px;*/
/*}*/

.new-poll-selection-list-item-company::after {
    content: "Компания";
    color: #595757;
    font-style: italic;
    font-weight: normal;
    font-size: calc(16vw/1366*100);
    line-height: calc(19vw/1366*100);
    position: relative;
    left: calc(280vw/1366*100);
}