.scroll-top-btn-value {
    padding-top: calc(100vh - calc(320vw/1366*100));
}

.notifications {
    opacity: 1;
    transition: opacity .5s;
}

.notification {
    display: flex;
    margin-bottom: calc(10vw/1366*100);
    opacity: 1;
    transition: opacity .5s;
}

.notifications-date {
    opacity: 1;
    transition: opacity .5s;
}

.notifications-date .notification:last-of-type {
    margin-bottom: 0;
}

.notifications-date:last-of-type .notification:last-of-type {
    margin-bottom: 40vh;
}

.notifications-date-block {
    color: #a2a2a2;
    margin: 0;
    padding: calc(10vw/1366*100) 0 calc(10vw/1366*100);
    position: sticky;
    top: calc(56vw/1366*100);
    background-color: transparent;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.notifications-date-value {
    width: calc(110vw/1366*100);
    padding: calc(10vw/1366*100) 0;
    margin: 0;
    background-color: #ffffff;
    border-radius: 10%;
}

.notification-remove,
.notifications-remove,
.notifications-date-remove {
    opacity: 0;
}

.notification-icon {
    margin-right: calc(15vw/1366*100);
    width: calc(80vw/1366*100);
}

.notification-icon-img {
    height: calc(80vw/1366*100);
}

.notification-text {
    width: calc(535vw/1366*100);
}

.notification-text-only-title {
    padding-bottom: calc(40vw/1366*100);
}

.notification-title {
    font-weight: bold;
    font-size: calc(24vw/1366*100);
    line-height: calc(28vw/1366*100);
    margin-bottom: calc(10vw/1366*100);
}

.notification-details {
    font-size: calc(16vw/1366*100);
    line-height: calc(14vw/1366*100);
    margin-bottom: calc(13vw/1366*100);
}

.notification-about {
    font-size: calc(16vw/1366*100);
    line-height: calc(14vw/1366*100);
    color: #595757;
    padding-bottom: calc(11vw/1366*100);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notification-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(140vw/1366*100);
    margin-left: auto;
}

.notification-button-cross {
    padding: 0;
    margin: 0 0 0 auto;
    border: none;
    background-color: transparent;
    width: calc(15vw/1366*100);
    height: calc(15vw/1366*100);
    position: relative;
}

.notification-button-cross:focus {
    outline: none;
}

.notification-button-cross-img {
    position: absolute;
    top: 0;
    left: 0;
}

.notification-button {
    width: calc(135vw/1366*100);
    margin-left: auto;
}

.nothing {
    height: 50vh;
}