body {
    overflow-x: hidden;
}

.scroll-top-btn-value {
    padding-top: calc(100vh - calc(365vw/1366*100));
}

textarea {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    resize: none;
    overflow-y: hidden;
    background-color: #fafafa;
    border: none;
}

textarea:focus {
    outline: none;
}

.poll-container_move {
    width: 100%;
    height: auto;
}

.poll_editor {
    padding-bottom: 30%;
}

.poll-head {
    position: relative;
    margin-bottom: calc(15vw/1366*100);
}

.poll-head-text {
    width: 100%;
}

.poll-head-name {
    width: calc(600vw/1366*100);
    font-weight: bold;
    font-size: calc(32vw/1366*100);
    line-height: calc(37vw/1366*100);
    margin-bottom: calc(13vw/1366*100);
    height: calc(37vw/1366*100);
}

.poll-head-about {
    font-weight: normal;
    font-size: calc(16vw/1366*100);
    line-height: calc(21vw/1366*100);
    margin-bottom: calc(20vw/1366*100);
    height: calc(23vw/1366*100);
    color: #6b6969;
}

.poll-head-remove {
    position: absolute;
    right: calc(30vw/1366*100);
    top: calc(30vw/1366*100);
}

.poll-head-navigation {
    /*position: relative;*/
}

.poll-head-navigation-next-page {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 50%;*/
    /*transform: translateY(-80%);*/
}

.poll_questions {

}

.question {
    margin-bottom: calc(15vw/1366*100);
    position: relative;
}

.question-move {
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0;
    position: relative;
}

.question-move-platform {
    width: calc(22vw/1366*100);
    height: calc(11vw/1366*100);
    margin: 0 auto 0;
    padding: 0;
    position: relative;
    top: calc(-30vw/1366*100);
}

.question-move-platform:hover {
    cursor: move;
}

.question-move-platform-img {
    width: calc(22vw/1366*100);
    height: calc(11vw/1366*100);
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.question-main {
    /*width: 590px;*/
    width: 100%;
    margin-bottom: calc(20vw/1366*100);
}

.question-main-name {
    font-weight: 600;
    font-size: calc(18vw/1366*100);
    line-height: calc(21vw/1366*100);
    margin-bottom: calc(25vw/1366*100);
    height: calc(23vw/1366*100);
    width: calc(580vw/1366*100);
}

.question-main-answers {
    width: 100%;
    margin-bottom: calc(20vw/1366*100);
}

.question-main-answers-answer-mark {
    width: calc(15vw/1366*100);
}

.question-main-answers-answer {
    display: flex;
    /*position: relative;*/
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc(20vw/1366*100);
}

.question-main-answer {
    width: 94%;
    height: calc(23vw/1366*100);
    font-weight: normal;
    font-size: calc(16vw/1366*100);
    line-height: calc(19vw/1366*100);
    border-bottom: calc(1vw/1366*100) solid #595757;
    margin: 0 auto 0 calc(10vw/1366*100);
}

.question-radio-main-answer {
    display: none;
    opacity: 0;
    width: calc(13vw/1366*100);
    height: calc(13vw/1366*100);
    border: calc(1vw/1366*100) solid #000000;
    border-radius: 50%;
    z-index: 2;
}

.question-checkbox-main-answer {
    display: none;
    opacity: 0;
    z-index: 2;
    width: calc(13vw/1366*100);
    height: calc(13vw/1366*100);
    border: calc(1vw/1366*100) solid #000000;
}

.question-main-answer-remove {
    margin: 0 0 0 0;
    padding: 0;
    position: relative;
    height: calc(15vw/1366*100);
    border: none;
    background-color: transparent;
    width: calc(15vw/1366*100);
    filter: brightness(1.75);
    transition: filter .3s;
}

.question-main-answer-remove:focus,
.question-navigate-remove_question:focus {
    outline: none;
}

.question-main-answer-remove:hover,
.question-main-answer-remove:focus {
    filter: brightness(1);
}

.question-main-answer-remove-img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: calc(15vw/1366*100);
}

.question-main-add {
    padding-left: calc(25vw/1366*100);
}

.question-settings {
    display: flex;
    position: absolute;
    top: calc(30vw/1366*100);
    right: calc(30vw/1366*100);
}

.question-navigate {
    position: relative;
}

.question-navigate-remove_question {
    width: calc(18vw/1366*100);
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    filter: brightness(1);
    transition: filter .3s;
}

.question-navigate-remove_question:focus,
.question-navigate-remove_question:hover {
    filter: brightness(0.85);
}

.question-navigate-remove_question-img {
    width: calc(18vw/1366*100);
    margin: 0;
    padding: 0;
}

.question-main-answers-answer-open_question {
    font-weight: normal;
    font-size: calc(16vw/1366*100);
    line-height: calc(19vw/1366*100);
    color: #747474;
}

.question-main-answers-answer-range-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-main-answers-answer-range {
    background-color: #C4C4C4;
    width: calc(400vw/1366*100);
    height: calc(10vw/1366*100);
    border-radius: calc(20vw/1366*100);
    margin: calc(20vw/1366*100) 0 calc(10vw/1366*100);
}

.question-main-answers-answer-range-settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(400vw/1366*100);
}

.question-main-answers-answer-range-settings input:focus {
    outline: none;
}

.question-main-answers-answer-range-settings > input,
.question-main-answers-answer-range-settings > .question-main-answers-answer-range-settings-step-box > input {
    border: none;
    background-color: transparent;
    font-weight: normal;
    font-size: calc(16vw/1366*100);
    line-height: calc(19vw/1366*100);
    height: calc(20vw/1366*100);
    width: calc(50vw/1366*100);
    /*border-bottom: 1px solid rgb(177, 177, 177);*/
}

.question-main-answers-answer-range-settings-step-box {
}

.question-main-answers-answer-range-settings > .question-main-answers-answer-range-settings-step-box > input {
}

.question-main-answers-answer-range-settings-before-step {
}

.question-main-answers-answer-range-settings-before-step:hover {
    cursor: default;
}

.question-main-answers-answer-range-settings-min {
}

.question-main-answers-answer-range-settings-max::placeholder,
.question-main-answers-answer-range-settings-min::placeholder {
    text-indent: calc(13vw/1366*100);
}

.question-main-answers-answer-range-settings-max::-moz-placeholder,
.question-main-answers-answer-range-settings-min::-moz-placeholder {
    text-indent: calc(13vw/1366*100);
}

.question-main-answers-answer-range-settings-max::-ms-input-placeholder,
.question-main-answers-answer-range-settings-min::-ms-input-placeholder {
    text-indent: calc(13vw/1366*100);
}

.question-main-answers-answer-range-settings-max::-webkit-input-placeholder,
.question-main-answers-answer-range-settings-min::-webkit-input-placeholder {
    text-indent: calc(13vw/1366*100);
}

.question-main-answers-answer-range-settings-max:-ms-input-placeholder,
.question-main-answers-answer-range-settings-min:-ms-input-placeholder {
    text-indent: calc(13vw/1366*100);
}

.question-main-answers-answer-range-settings-max:-moz-placeholder,
.question-main-answers-answer-range-settings-min:-moz-placeholder {
    text-indent: calc(13vw/1366*100);
}

.question-settings-type_question {
    border: none;
    background-color: transparent;
}

.question-settings-type_question:focus {
    outline: none;
}

.poll_questions-navigate {
}

.poll_questions-navigate-add_question {
    margin: 0 0 calc(70vw/1366*100);
}
