body {
    overflow: hidden;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: whitesmoke;
    z-index: 1100;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(50vw/1366*100);
    height: calc(50vw/1366*100);
    border-radius: 50%;
    border-top-color: transparent;
    transform: translateY(-50%) translateX(-50%);
    animation: 2s spin2 infinite linear;
}

.done .preloader {
    display: none;
}

.preloader-hiding body {
    overflow: auto;
}

.preloader-hiding .preloader {
    transition: opacity .2s;
    opacity: 0;
}

@keyframes spin {
    from {
        transform: translateY(-50%) translateX(-50%) rotate(0deg);
        border: calc(5vw/1366*100) solid red;
        border-top-color: transparent;
    }
    to {
        transform: translateY(-50%) translateX(-50%) rotate(360deg);
        border: calc(5vw/1366*100) solid green;

        border-top-color: transparent;
    }
}

@keyframes spin2 {
    0% {
        border: calc(5vw/1366*100) solid red;
        transform: translateY(-50%) translateX(-50%) rotate(0deg);
        border-top-color: transparent;
    }
    14% {
        border: calc(5vw/1366*100) solid orange;
        transform: translateY(-50%) translateX(-50%) rotate(51deg);
        border-top-color: transparent;
    }
    28% {
        border: calc(5vw/1366*100) solid yellow;
        transform: translateY(-50%) translateX(-50%) rotate(102deg);
        border-top-color: transparent;
    }
    42% {
        border: calc(5vw/1366*100) solid green;
        transform: translateY(-50%) translateX(-50%) rotate(153deg);
        border-top-color: transparent;
    }
    56% {
        border: calc(5vw/1366*100) solid skyblue;
        transform: translateY(-50%) translateX(-50%) rotate(204deg);
        border-top-color: transparent;
    }
    70% {
        border: calc(5vw/1366*100) solid blue;
        transform: translateY(-50%) translateX(-50%) rotate(255deg);
        border-top-color: transparent;
    }
    85% {
        border: calc(5vw/1366*100) solid purple;
        transform: translateY(-50%) translateX(-50%) rotate(306deg);
        border-top-color: transparent;
    }
    100% {
        border: calc(5vw/1366*100) solid red;
        transform: translateY(-50%) translateX(-50%) rotate(360deg);
        border-top-color: transparent;
    }
}