input.success,
select.success,
input.success:focus,
select.success:focus {
    background-color: #d0ffda;
}

input.error,
input.error:focus {
    background-color: #ffd0d0;
}

i.required {
    transform: scale(0.65);
    color: #b21f2d;
}

.register-select-city:invalid {
    color: gray;
}
