.reset-pass-block {
    height: calc(370vw/1366*100);
}

.reset-pass-title {
    margin-bottom: calc(20vw/1366*100);
}

.reset-pass-subtitle {
    font-weight: 500;
    font-size: calc(16vw/1366*100);
    line-height: calc(18vw/1366*100);
    width: calc(450vw/1366*100);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(60vw/1366*100);
}

.reset-pass-email {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%) translateY(50%);
    min-width: calc(200vw/1366*100);
    width: calc(200vw/1366*100);
    max-width: calc(400vw/1366*100);
    /*margin: 0 auto 100px;*/
}

.reset-pass-back-home-page {
    line-height: calc(14vw/1366*100);
    position: absolute;
    bottom: calc(15vw/1366*100);
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.reset-pass-next {
    position: absolute;
    right: calc(10vw/1366*100);
    bottom: calc(10vw/1366*100);
}

.input-buffer {
    position: absolute;
    top: calc(-1000vw/1366*100);
    left: calc(-1000vw/1366*100);
    visibility: hidden;
    white-space: nowrap;
}

.reset-pass-success-title {
    margin-bottom: 20px;
}

.reset-pass-success-subtitle {
    font-weight: 500;
    font-size: calc(16vw/1366*100);
    line-height: calc(18vw/1366*100);
    width: calc(450vw/1366*100);
    margin-left: auto;
    margin-right: auto;
}

.reset-pass-success-subtitle-part {
    margin-bottom: calc(35vw/1366*100);
    padding-left: calc(15vw/1366*100);
}

.reset-pass-repeat-letter {

}

.reset-pass-back {
    position: absolute;
    left: calc(10vw/1366*100);
    bottom: calc(10vw/1366*100);
}

.new-pass-subtitle {
    width: calc(320vw/1366*100);
}

.new-pass-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(250vw/1366*100);
    height: calc(90vw/1366*100);
}
